<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "google_code_body.html" . }}
	{{ partial "header.html" . }}
	<section class="site-wrapper">
		<section class="info-general">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title title-border-light-blue">
						<h2>{{ .Params.nom }}</h2>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<section
						style="background-image: linear-gradient(to right, rgba(56, 255, 144, 1), rgba(56, 255, 144, 0.20)), {{ if and (isset .Params "imatge") (ne .Params.imatge nil) }} url('{{ .Params.imatge.url }}'); {{ end }} "
						class="bg-secondary">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-lg-6">
									<h2>
										{{ range .Params.descripcioList }}{{ .descripcio }}{{ end }}
									</h2>
								</div>
								<div class="col-md-6"></div>
								<div data-dropdown="" class="dropdown">
									<button data-dropdown-trigger="" aria-label="Texto descriptivo"
										aria-expanded="false" aria-controls="dropdown__content1"
										class="btn btn--primary dropdown__trigger">{{ T "uoc_social"}}<span aria-hidden="true"
											class="icon icon--share"></span></button>
									<ul id="dropdown__content1" role="menu" class="dropdown__content dropdown__list">
										<li class="social">
											<ul>
												<li><a href="{{ range .Params.xarxesList }}{{ .twitter }}{{ end }}"
														title="Texto descriptivo" class="icon icon--social-twitter"></a>
												</li>
												<li><a href="{{ range .Params.xarxesList }}{{ .linkedin }}{{ end }}"
														title="Texto descriptivo"
														class="icon icon--social-linkedin"></a></li>
												<li><a href="mailto:{{ range .Params.xarxesList }}{{ .email }}{{ end }}"
														title="Texto descriptivo" class="icon icon--mail"></a></li>
											</ul>
										</li>
										{{ range .Params.xarxesList }}
										{{ range .altres }}
										<li role="menuitem" class="dropdown__item"><a href="{{ .url }}"
												title="{{ .text }}" aria-label="Texto descriptivo"
												class="dropdown__link">{{ .text }}</a></li>
										{{ end }}
										{{ end }}
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="ficha-detail">
						<div class="box">
							<div class="boxGrey">
								{{ $investigadorPrincipalNom := .Params.investigadorPrincipalId.nomComplet }}
								<p><strong>{{ T "uoc_grup_investigator"}}:</strong>{{ $investigadorPrincipalNom }}</p>
								
								{{ if ne .Params.ambits nil }}
								<p><strong>{{ T "uoc_grup_ambit"}}:</strong> {{ range $index, $ambit := .Params.ambits }}{{ range $ambit.textAmbit }}{{ if (gt $index 0) }}, {{ end }}{{ .descripcio }}{{ end }}{{ end }}</p>
								{{ end }}
								
								{{ if ne .Params.centreList nil }}
								<p><strong>{{ T "uoc_grup_center"}}:</strong>
									{{ range .Params.centreList }}{{ range .textCentre }}{{ .descripcio }}
									{{ end }}{{ end }}</p>
								{{ end }}
								
								{{ if ne .Params.codisUnesco nil }}
								<p><strong>{{ T "uoc_grup_code_unesco"}}:</strong>{{ range $index, $codiUnesco := .Params.codisUnesco }}{{ if (gt $index 0) }}, {{ end }}{{ $codiUnesco.codi }}{{ end }}</p>
								{{ end }}
								
								{{ if ne .Params.odsList nil }}
								<p class="mb5"><strong>{{ T "uoc_grup_ods"}}:</strong></p>
									{{ range .Params.odsList }}
									<div class="wrap-img"><img src="{{ .imatge.url }}" alt="url"></div>
									{{ end }}
								{{ end }}
							</div>
							
								{{ if and (isset .Params.investigadorPrincipalId "imatge") (ne .Params.investigadorPrincipalId.imatge nil) }}
								<div class="boxGrey">
								<div class="wrap-logo"><img src="{{ .Params.investigadorPrincipalId.imatge.text }}"
										alt="{{ range .Params.investigadorPrincipalId.imatge.textImatge }}{{ .alt }}{{ end }}">
								</div>
								{{ end }}
								
								{{ if and (isset .Params "expertsList") (ne .Params.expertsList nil) }}
								<div class="js-collapse-group">
									<div class="collapse">
										<div class="head-collapse js-collapse notTop">
											<p><a href="#collapse1" aria-expanded="false"
													class="js-collapseClick">{{ T "uoc_grup_expert"}}...<span
														class="icon icon--arrow-down"></span></a></p>
										</div>
										<div id="collapse1" class="contentCollapse">
											<div class="absolute">{{range .Params.expertsList }}<span
													class="tag">{{ range .textExperts}}{{ .descripcio }}{{ end }}</span>{{ end }}
											</div>
										</div>
									</div>
								</div>
								</div>
								{{ end }}
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section data-tab-system="" class="ficha-detail mT60">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<ul role="tablalist" data-sticky="data-sticky" class="list-group borderTopGrey toStick">
						<li role="presentation"><a id="tab-10" href="#tab-content-10" role="tab"
								aria-controls="tab-content-10" aria-selected="true" data-tab-trigger=""
								class="tab is-active js-width-final"><span>{{ T "uoc_grup_menu_about"}}</span></a></li>
				{{ if gt (len .Params.membresId) 0 }}
						<li role="presentation"><a id="tab-11" href="#tab-content-11" role="tab"
								aria-controls="tab-content-11" aria-selected="false" data-tab-trigger=""
								class="tab"><span>{{ T "uoc_grup_menu_members"}}</span></a>
						</li>
				{{ end }}
				{{ if gt (len .Params.recercaTransferencia.liniesDeRecerca) 0 }}
						<li role="presentation"><a id="tab-12" href="#tab-content-12" role="tab"
								aria-controls="tab-content-12" aria-selected="false" data-tab-trigger=""
								class="tab"><span>{{ T "uoc_grup_menu_research"}}</span></a>
						</li>
				{{ end }}
				
				{{ $publicacions := where .Params.publicacionsList "visible" true }}
				{{ if gt (len $publicacions) 0 }}
						<li role="presentation"><a id="tab-13" href="#tab-content-13" role="tab"
								aria-controls="tab-content-13" aria-selected="false" data-tab-trigger=""
								class="tab"><span>{{ T "uoc_grup_menu_publications"}}</span></a></li>
				{{ end }}
				
				{{ if gt (len .Params.difusioList) 0}}
						<li role="presentation"><a id="tab-14" href="#tab-content-difusio" role="tab"
								aria-controls="tab-content-14" aria-selected="false" data-tab-trigger=""
								class="tab"><span>{{ T "uoc_difusio" }}</span></a></li>
				{{ end }}
						<li role="presentation"><a id="tab-15" href="#tab-content-15" role="tab"
								aria-controls="tab-content-15" aria-selected="false" data-tab-trigger=""
								class="tab"><span>{{ T "uoc_grup_menu_contact"}}</span></a>
						</li>
					</ul>
					<div class="content-for-sticky"></div>
				</div>
				<div class="col-xs-12 col-md-9">
					<div id="tab-content-10" data-tab-content="" role="tabpanel" aria-labelledby="tab-10"
						aria-hidden="false" class="tab-content is-active">
						<div class="js-collapse-group">
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse2" aria-expanded="false"
											class="js-collapseClick">{{ T "uoc_grup_menu_about"}}<span
												class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse2" class="contentCollapse show">
									<div class="wrap-richText">
										{{ range .Params.sobreGrupList }}{{ .descripcio | safeHTML }}{{ end }}
									</div>
								</div>
							</div>
							
							{{ if gt (len .Params.recercaTransferencia.liniesDeRecerca) 0 }}
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse3" aria-expanded="false"
											class="js-collapseClick">{{ T "uoc_grup_research_lines"}}<span
												class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse3" class="contentCollapse">
									<div class="wrap-richText">
										{{ range .Params.recercaTransferencia.liniesDeRecerca }}
										{{ range .liniaRecerca}}
											<p><strong>{{ .text | safeHTML }}</strong></p>
										{{ end }}

										{{ range .codisOds}}
										<img src="{{ .imatge.url }}" alt="{{ range .textImatge }} {{ .alt }} {{ end }}">
										{{ end }}
										{{ end }}
									</div>
								</div>
							</div>
							{{ end }}
						</div>
					</div>
					
					{{ if gt (len .Params.membresId) 0 }}
					<div id="tab-content-11" data-tab-content="" role="tabpanel" aria-labelledby="tab-11"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse1" aria-expanded="false"
										class="js-collapseClick">{{ T "uoc_grup_menu_members"}}<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse1" class="contentCollapse">
								<div class="card-in-acordeon">
									<div class="row list-members">
										{{ range .Params.membresId }}
										<div class="col-xs-12 col-md-4 card-members item-visible">
											<div role="region" class="card card-people">
												<div class="card__contents img-wpr">
													{{ if and (isset . "imatge") (ne .imatge nil) }}
													<img src="{{ .imatge.url }}" alt="{{ range .textImatge }} {{ .alt }} {{ end }}"	class="img-wpr__cover">
													{{ end }}
													<div class="img-wpr__contents">
														<p class="title">{{ .nomComplet }}</p>
													</div>
													{{ if eq .nomComplet $investigadorPrincipalNom }}
													<span class="author">{{ T "uoc_grup_members_main"}}</span>
													{{ end }}
												</div>
											</div>
										</div>
										{{ end }}
										<div class="row">
											<div class="col-xs-12">
												<ul role="navigation" class="pagination-members"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ end }}
				{{ if and (ne .Params.recercaTransferencia nil) (ne .Params.recercaTransferencia.llistaProjectes nil) }}
					<div id="tab-content-12" data-tab-content="" role="tabpanel" aria-labelledby="tab-12"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse2" aria-expanded="false"
										class="js-collapseClick">{{ T "uoc_grup_research_projects"}} <span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse2" class="contentCollapse">
								<div class="row list-projects">
									{{range where .Params.recercaTransferencia.llistaProjectes ".visible" true}}
									<div class="col-md-4 card-projects item-visible">
										<div class="card card-normal card--with-footer bg-ri-light"><a
												href="javascript:;" title="Internet Interdisciplinary Institute (IN3)"
												aria-hidden="true" target="_blank"
												onclick="_gaq.push(['_trackEvent','Recerca Home', 'org-recerca_in3']);"
												aria-labelledby="card-title-1" class="card-absolute-link"> </a>
											<div class="card__contents type-light">
												{{ range .projecte.projecteText}}
												<h3 id="card-title-1" class="h3 card-title"><a tabindex="-1"
														href="javascript:;" target="_blank">{{ .nom }}</a></h3>
												<div class="card-body">
													<p>{{ .descripcio }}</p>
												</div>
<!-- 												<div class="card__footer">
													<div role="complementary" aria-label="tags" class="float-left"><span
															aria-hidden="true"
															class="icon icon--small icon--external-link icon--responsive-mobile"></span><span
															class="icon-alt">{{ .tipus }}</span></div>
												</div> -->
												{{ end }}
											</div>
										</div>
									</div>
									{{ end }}
									<div class="row">
										<div class="col-xs-12">
											<ul role="navigation" class="pagination-projects"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse6" aria-expanded="false"
										class="js-collapseClick">{{ T "uoc_grup_research_transfer"}} <span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse6" class="contentCollapse show">
								<div class="wrap-richText">
									{{ range .Params.recercaTransferencia.transferencia }} {{ .text | safeHTML }}
									{{ end }}
								</div>
							</div>
						</div>
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse9" aria-expanded="false"
										class="js-collapseClick">{{ T "uoc_grup_research_other"}}
										<span class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse6" class="contentCollapse show">
								<div class="wrap-richText">
									{{ range .Params.recercaTransferencia.altresActivitats }} {{ .text | safeHTML }}
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				{{ end }}
				
				{{ if gt (len $publicacions) 0 }}
					<div id="tab-content-13" data-tab-content="" role="tabpanel" aria-labelledby="tab-13"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse10" aria-expanded="false"
										class="js-collapseClick">{{ T "uoc_grup_menu_publications"}}<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse10" class="contentCollapse show">
								<div class="card-in-acordeon">
									<div class="row list-publications">
										{{ range where .Params.publicacionsList ".visible" true}}
											<div class="col-xs-12 col-md-4 card-publication item-visible">
												<div class="card card-noimg card-publications">
													<div class="card__contents">
														<p class="title">
															{{$publicacioText := (index .publicacio.publicacioText 0)}}
															{{ $publicacioText.titol }}
															<span>{{ .publicacio.any }} | {{ $publicacioText.tipus }}</span>
															<span style="text-transform: uppercase;">{{ range $index, $autor := .publicacio.autors }}{{ if (gt $index 0) }}; {{ end }}{{ $autor }} {{ end }}</span>
														</p>
														<p>{{ $publicacioText.descripcio }}</p>
															<!-- span class="icon icon--word"> </span -->
													</div>
												</div>
											</div>
										{{end}}
										<div class="row">
											<div class="col-xs-12">
												<ul role="navigation" class="pagination-publications"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{ end }}
				
				{{ if gt (len .Params.difusioList) 0}}
            <div id="tab-content-difusio" data-tab-content="" role="tabpanel" aria-labelledby="tab-14" aria-hidden="false" class="tab-content">
              <div class="collapse">
                <div class="head-collapse js-collapse">
                  <h3><a href="#collapse11" aria-expanded="true" class="js-collapseClick">{{ T "uoc_difusio" }}<span class="icon icon--arrow-down"></span></a></h3>
                </div>
                <div id="collapse11" class="contentCollapse show">
                  <div class="card-in-acordeon">
                    <div class="row">
                    {{ range first 1 .Params.difusioList }}
                      <div class="col-xs-12 col-md-8">
                        <div role="region" aria-label="{{ .difusio.entradeta }}" class="card card-grid">
                          {{ if ne .difusio.imatge nil }}
                          <div class="card__image"><img src="{{ .difusio.imatge.url }}" alt="{{ range .difusio.imatge.textImatge }}{{ .alt }}{{ end}}"></div>
                          {{ end }}
                          <div class="card__contents">
                          	{{ if ne .difusio.url nil }}
                            <p class="h3"><a href="{{ .difusio.url }}">{{ .difusio.titol }}</a></p>
                            {{ else }}
                            <p class="h3">{{ .difusio.titol }}</p>
                            {{ end }}
                            <p class="description">{{ .difusio.entradeta }}</p>
                          </div>
                        </div>
                      </div>
					{{ end }}
					
                    {{ range after 1 .Params.difusioList }}
                      <div class="col-xs-12 col-md-4">
                        <div role="region" aria-label="{{ .difusio.entradeta }}" class="card card-grid">
                          {{ if ne .difusio.imatge nil }}
                          <div class="card__image"><img src="{{ .difusio.imatge.url }}" alt="{{ range .difusio.imatge.textImatge }}{{ .alt }}{{ end}}"></div>
                          {{ end }}
                          <div class="card__contents">
                          	{{ if ne .difusio.url nil }}
                            <p class="h3"><a href="{{ .difusio.url }}">{{ .difusio.titol }}</a></p>
                            {{ else }}
                            <p class="h3">{{ .difusio.titol }}</p>
                            {{ end }}
                            <p class="description">{{ .difusio.entradeta }}</p>
                          </div>
                        </div>
                      </div>
                    {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
				
				{{ end }}
					<div id="tab-content-15" data-tab-content="" role="tabpanel" aria-labelledby="tab-15"
						aria-hidden="false" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse12" aria-expanded="true"
										class="js-collapseClick">{{ T "uoc_grup_menu_contact"}}<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse12" class="contentCollapse show">
								<div class="contact-list-icon">
									<div class="row">
										<div class="col-xs-12 col-md-9">
											<div class="wrap-content">
												{{ range .Params.contacteList }} {{ .descripcio | safeHTML }} {{ end }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	{{ partial "footer.html" . }}
	<script src="/js/lib/jquery-3.3.1.min.js"></script>
	<script src="/js/scripts_ri.js"></script>
	<script src="/js/custom_ri.js"></script>
	<script src="/js/lib/sticky.min.js"></script>
	<script src="/js/lib/portal.min.ca.js"></script>
	<script src="/js/lib/jquery.jold.paginator.min.js"></script>
	<script type="text/javascript">

		var paginatorMembers = new $('.list-members').joldPaginator({
			// the number of items per page
			'perPage': 9,

			// selectors
			'items': '.card-members',
			'paginator': '.pagination-members',

			// indicator
			'indicator': {
				'selector': '',
				'text': '',
			}
		});

		var paginatorPublications = new $('.list-publications').joldPaginator({
			// the number of items per page
			'perPage': 9,

			// selectors
			'items': '.card-publication',
			'paginator': '.pagination-publications',

			// indicator
			'indicator': {
				'selector': '',
				'text': '',
			}
		});

		var paginatorProjects = new $('.list-projects').joldPaginator({
			// the number of items per page
			'perPage': 9,

			// selectors
			'items': '.card-projects',
			'paginator': '.pagination-projects',

			// indicator
			'indicator': {
				'selector': '',
				'text': '',
			}
		});

		$('ul[class^="pagination-"]').each(function () {
			var children = $(this).find('li');
			children.each(function (index) {

				if (index != children.length - 1) {
					$(this).addClass("col-md-1");
				} else {
					$(this).attr("style", "position : relative");

					var mod = children.length % 12;
					if (mod > 0) {
						$(this).addClass("col-md-" + (13 - mod));
					} else {
						$(this).addClass("col-md-1");
					}
				}
			});
		});
	</script>
</body>

</html>