<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
	{{ partial "head.html" . }}
	{{ $solucions_tecnologiques := .Params.solucions_tecnologiques}}
	{{ $patents := .Params.patents }}
	{{ $serveis := .Params.serveis }}
  {{ $spin_offs := .Params.spin_offs }}
  {{ $lang := .Site.Language.Lang }}
	
</head>

<body>
	{{ partial "google_code_body.html" . }}
	{{ partial "header.html" . }}
	<div class="site-wrapper"> 
		<section data-tab-system="" class="filters-main search-list-collapse">
			<div class="row">
				<div class="filters-main-block">
					<div class="filters-main__box border-green box-green-selected col-xs-12">
						<a id="tab-1" href="#tab-content-1" role="tab" aria-controls="tab-content-1" aria-selected="true" data-tab-trigger="" class="tab is-active cercadorFiltres">
							<h3>{{ T "uoc_ri_cercadortab_filtres" }}</h3>
						</a>
					</div>
					<div class="filters-main__box border-green col-xs-12">
						<a id="tab-2" href="#tab-content-2" role="tab" aria-controls="tab-content-2" aria-selected="true" data-tab-trigger="" class="tab is-active cercadorSectors">
							<h3>{{ T "uoc_ri_cercadortab_sectors" }}</h3>
						</a>
					</div>
					<div class="filters-main__box border-green col-xs-12">
						<a id="tab-3" href="#tab-content-3" role="tab" aria-controls="tab-content-3" aria-selected="false" data-tab-trigger="" class="tab cercadorTextual">
							<h3>{{ T "uoc_ri_cercadortab_text" }}</h3>
						</a>
					</div>
				</div>
				<div class="col-xs-12">
					<div id="tab-content-1" data-tab-content="" role="tabpanel" aria-labelledby="tab-1" aria-hidden="true" class="tab-content is-active cercadorFiltres">
						<section data-tab-system="" class="filters-list-cercador mT60">
							<div class="row">
								<div class="col-xs-6">
									<p class="search"></p>
								</div>
								<div class="col-xs-6">
									<div class="list-vist">
										<ul>
											<li class="vist-column js-Column active"><a href=""><span class="icon icon--list-full"></span></a></li>
											<li class="vist-list js-List"><a href=""><span class="icon icon--list-simple"></span></a></li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-lg-3">
									<div class="collapse-filter">
										<form action="">
											<p>{{ T "uoc_ri_cercador_cercaper" }}<span class="filters-mobile"><a href="">{{ T "uoc_ri_cercador_esborrafiltres" }} </a><span class="icon icon--arrow-down js-displayMobile"></span></span></p>
											<div class="collapse">
												<div class="head-collapse js-collapse js-collapseAll">
													<p>
														<a href="#collapse-ambits_especialitzacio" aria-expanded="false" class="js-collapseClick">
															<span class="icon icon--arrow-down"></span>{{ T "uoc_ri_cercador_filtres_ambitsespecialitzacio" }}
														</a>
													</p>
												</div>
												<div id="collapse-ambits_especialitzacio" class="contentCollapse">
													{{ range $index, $element := .Params.ambits_especialitzacio }}
													<div class="wrap-input">
														<fieldset>
															<input role="group" aria-label="input{{$index}}" type="checkbox" id="{{$element.value}}" value="{{$element.value}}">
															<label aria-label="label{{$index}}" for="{{$element.value}}">{{$element.display_name}}</label>
														</fieldset>
													</div>
													{{ end }}
												</div>
											</div>
											<div class="collapse">
												<div class="head-collapse js-collapse js-collapseAll">
													<p>
														<a href="#collapse-ods" aria-expanded="false" class="js-collapseClick"> 
															<span class="icon icon--arrow-down"></span>{{ T "uoc_ri_cercador_filtres_ods"}}
														</a>
													</p>
												</div>
												<div id="collapse-ods" class="contentCollapse">
													<div class="list-inputs-inline">
														{{ range $index, $element := .Params.ods }}
														<div class="wrap-input">
															<fieldset>
																<input role="group" aria-label="{{$element.display_name}}" type="checkbox" id="{{$element.value}}" value="{{$element.value}}">
																<label aria-label="{{$element.display_name}}" role="group" for="{{$element.value}}"><span class="sr-only">{{$element.display_name}}</span><img src="{{$element.img}}" alt=""></label>
															</fieldset>
														</div>
														{{ end }}
													</div>
												</div>
												<div class="collapse">
													<div class="head-collapse js-collapse js-collapseAll">
														<p>
															<a href="#collapse-codi" aria-expanded="false" class="js-collapseClick">
																<span class="icon icon--arrow-down"></span>{{ T "uoc_ri_cercador_filtres_unesco"}}
															</a>
														</p>
													</div>
													<div id="collapse-codi" class="contentCollapse">
														<form action="" class="search-form-container filters-main-search">
															<div class="search-container-top">
																<div class="row">
																	<div class="col-xs-2 col-md-1 col-lg-3 bg-green-light hover--dynamic-hover">
																		<span class="icon-container hover--dynamic-hover">
																			<input type="submit" value="Cerca" name="search_sbm" title="Buscar" onclick="" class="w100-inline-block">
																			<span class="icon icon--search"></span>
																		</span>
																	</div>
																	<div class="col-xs-10 col-md-11 col-lg-9">
																		<input type="search" id="search" aria-label="Paraules a cercar" placeholder="Paraules a cercar" name="searchWords" tabindex="0" value="" title="Paraules a cercar" class="w100-inline-block page-module ruler ruler--thin ruler--primary font-alternate h1">
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</form>
										<div class="general-filter centre">
											<form action="">
												<p>{{ T "uoc_ri_cercador_filtres_centre"}}</p>
												{{ range $index, $element := .Params.centre }}
												<div class="wrap-input">
													<fieldset>
														<input role="group" aria-label="{{$element.display_name}}" type="checkbox" id="{{$element.value}}" value="{{$element.value}}">
														<label aria-label="{{$element.display_name}}" for="{{$element.value}}">{{$element.display_name}}</label>
													</fieldset>
												</div>
												{{ end }}
											</form>
										</div>
										<div class="general-filter visualitzacio">
											<form action="">
												<p>{{ T "uoc_ri_cercador_filtres_visualitzacio"}}</p>
												<div class="wrap-input">
													<fieldset>
														<input role="group" aria-label="Grups de recerca" type="checkbox" id="visual_grup" value="grup">
														<label aria-label="Grups de recerca" for="visual_grup">{{ T "uoc_ri_cercador_grups"}}</label>
													</fieldset>
												</div>
												<div class="wrap-input">
													<fieldset>
														<input role="group" aria-label="Investigadors" type="checkbox" id="visual_investigador" value="fitxa">
														<label aria-label="Investigadors" for="visual_investigador">{{ T "uoc_ri_cercador_investigadors"}}</label>
													</fieldset>
												</div>
											</form>
											<p class="wrap-btn"><a href="#" title="Enlace siguiente" aria-label="Cercar" rel="next" class="btn btn--primary uoc_submitSearch">{{ T "uoc_ri_cercador_cercar"}}</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-lg-9">
									<div class="collapse grup results">
										<div class="head-collapse js-collapse">
											<p><a href="#collapse3" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_grups"}}<span class="icon icon--arrow-down"></span></a></p>
										</div>
										<div id="collapse3" class="contentCollapse show ajaxLoading grupResults">
											<div class="card-in-acordeon js-changeVist">
												<div class="row">
													
												</div>
											</div>
										</div>
									</div>
									<div class="collapse fitxa results">
										<div class="head-collapse js-collapse">
											<p><a href="#collapse2" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_investigadors"}}<span class="icon icon--arrow-down"></span></a></p>
											<p class="result"></p>
										</div>
										<div id="collapse2" class="contentCollapse show ajaxLoading fitxaResults">
											<div class="card-in-acordeon js-changeVist">
												<div class="row">
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</section>
					</div>
					
					<div id="tab-content-2" data-tab-content="" role="tabpanel" aria-labelledby="tab-2" aria-hidden="true" class="tab-content is-active cercadorSectors">
						<section data-tab-system="" class="filters-list-cercador mT60">
							<div class="row">
								<div class="col-xs-6">
									<p class="search"></p>
								</div>
								<div class="col-xs-6">
									<div class="list-vist">
										<ul>
											<li class="vist-column js-Column active"><a href=""><span class="icon icon--list-full"></span></a></li>
											<li class="vist-list js-List"><a href=""><span class="icon icon--list-simple"></span></a></li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-lg-3">
									<div class="collapse-filter">
										<form action="">
											<p>{{ T "uoc_ri_cercador_cercaper" }}<span class="filters-mobile"><a href="">{{ T "uoc_ri_cercador_esborrafiltres" }} </a><span class="icon icon--arrow-down js-displayMobile"></span></span></p>
											<div class="collapse">
												<div class="head-collapse js-collapse js-collapseAll">
													<p>
														<a href="#collapse-sector_productiu" aria-expanded="false" class="js-collapseClick">
															<span class="icon icon--arrow-down"></span>{{ T "uoc_ri_cercador_filtres_sectors_productius" }}
														</a>
													</p>
												</div>
												<div id="collapse-sector_productiu" class="contentCollapse">
													{{ range $index, $el := .Params.sector_productiu }}
													<div class="wrap-input">
														<fieldset>
															<input role="group" aria-label="input{{$index}}" type="checkbox" id="{{$el.value}}" value="{{$el.value}}">
															<label aria-label="label{{$index}}" for="{{$el.value}}">{{$el.display_name}}</label>
														</fieldset>
													</div>
													{{ end }}
												</div>
											</div>
										</form>
										<div class="general-filter centre">
											<form action="">
												<p>{{ T "uoc_ri_cercador_filtres_centre"}}</p>
												{{ range $index, $element := .Params.centre }}
												<div class="wrap-input">
													<fieldset>
														<input role="group" aria-label="{{$element.display_name}}" type="checkbox" id="{{$element.value}}" value="{{$element.value}}">
														<label aria-label="{{$element.display_name}}" for="{{$element.value}}">{{$element.display_name}}</label>
													</fieldset>
												</div>
												{{ end }}
											</form>
										</div>
										<div class="general-filter visualitzacio">
											<form action="">
												<p>{{ T "uoc_ri_cercador_filtres_visualitzacio"}}</p>
												<div class="wrap-input">
													<fieldset>
														<input role="sols_innov" aria-label='{{ T "uoc_ri_cercador_solucions" }}' type="checkbox" id="visual_sols_innov_2" value="sols_innov">
														<label aria-label='{{ T "uoc_ri_cercador_solucions" }}' for="visual_sols_innov_2">{{ T "uoc_ri_cercador_solucions"}}</label>
													</fieldset>
												</div>
												<div class="wrap-input">
													<fieldset>
														<input role="spin_offs" aria-label='{{ T "uoc_ri_cercador_spin_off"}}' type="checkbox" id="visual_spin_off_2" value="spin_offs">
														<label aria-label='{{ T "uoc_ri_cercador_spin_off"}}' for="visual_spin_off_2">{{ T "uoc_ri_cercador_spin_off"}}</label>
													</fieldset>
												</div>
											</form>
											<p class="wrap-btn"><a href="#" title="Enlace siguiente" aria-label="Cercar" rel="next" class="btn btn--primary uoc_submitSearch">{{ T "uoc_ri_cercador_cercar"}}</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-lg-9">
									<div class="collapse solucions results">
										<div class="head-collapse js-collapse">
											<p><a href="#collapse_solucions" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions"}}<span class="icon icon--arrow-down"></span></a></p>
										</div>
										<div id="collapse_solucions" class="contentCollapse show">
											<div class="head-collapse subCollapse js-collapse">
												<p><a href="#collapse_solucions_tec" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_tec"}}<span class="icon icon--arrow-down"></span></a></p>
											</div>
											<div id="collapse_solucions_tec" class="contentCollapse show ajaxLoading solucionsTecResults">
												<div class="card-in-acordeon js-changeVist">
													<div class="row">
														{{ range $i, $solTec := .Params.solucions_tecnologiques }}
														{{ if isset $solTec "value" }}
														<div class="col-xs-12 col-md-4">
								<a href="{{ "/solucio_tec/alfa.html" | relLangURL }}" class="card-absolute-link"></a>
															<div class="uoc_card_placeholder">
																<img src="{{$solTec.img_background}}"/>
																<div class="title">{{$solTec.display_name}}</div>
																<div class="line-long"></div>
																<div class="line-short"></div>
																<div class="line-medium"></div>
															</div>
														</div>
														{{ end }}
														{{ end }}
													</div>
												</div>
											</div>
											
											
											<div class="head-collapse subCollapse js-collapse">
												<p><a href="#collapse_solucions_patents" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_patents"}}<span class="icon icon--arrow-down"></span></a></p>
											</div>
											<div id="collapse_solucions_patents" class="contentCollapse show ajaxLoading patentsResults">
												<div class="card-in-acordeon js-changeVist">
													<div class="row">
														
													</div>
												</div>
												
											</div>
											
											
											<div class="head-collapse subCollapse js-collapse">
												<p><a href="#collapse_solucions_serveis" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_serveis"}}<span class="icon icon--arrow-down"></span></a></p>
											</div>
											<div id="collapse_solucions_serveis" class="contentCollapse show ajaxLoading serveisResults">
												<div class="card-in-acordeon js-changeVist">
													<div class="row">
														
													</div>
												</div>
												
											</div>
										</div>
									</div>

									<div class="collapse spin results">
										<div class="head-collapse js-collapse">
											<p><a href="#collapse_spin" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_spin_off"}}<span class="icon icon--arrow-down"></span></a></p>
											<p class="result"></p>
										</div>
										<div id="collapse_spin" class="contentCollapse show ajaxLoading spinResults">
											<div class="card-in-acordeon js-changeVist">
												<div class="row">
													
												</div>
											</div>
											
										</div>
										
									</div>
									
								</div>
							</div>
							
						</section>
					</div>
					
					
					<div id="tab-content-3" data-tab-content="" role="tabpanel" aria-labelledby="tab-3" aria-hidden="false" class="tab-content cercadorTextual">
						<form action="" class="search-form-container filters-main-search">
							<div class="full-width search-container-top">
								<div class="col-xs-2 col-md-1"><span class="icon-container hover--dynamic-hover bg-grey">
									<input type="submit" value="Cerca" name="search_sbm" title="Buscar"  class="w100-inline-block search-text-principal"><span class="icon icon--search"></span></span>
								</div>
								<div class="col-xs-10 col-md-11">
									<input type="search" id="search" aria-label="Paraules a cercar" placeholder="Paraules a cercar" name="searchWords" tabindex="0" value="" title="Paraules a cercar" class="w100-inline-block page-module ruler ruler--thin ruler--primary font-alternate h1">
								</div>
							</div>
						</form>
						<div class="col-xs-12 col-lg-3">
							<div class="collapse-filter">						  
								<div class="general-filter visualitzacio">
									<form action="">
										<p>{{ T "uoc_ri_cercador_filtres_visualitzacio"}}</p>
										<div class="wrap-input">
											<fieldset>
												<input role="group" aria-label="Grups de recerca" type="checkbox" id="visual_grup_3" value="grup">
												<label aria-label="Grups de recerca" for="visual_grup_3">{{ T "uoc_ri_cercador_grups"}}</label>
											</fieldset>
										</div>
										<div class="wrap-input">
											<fieldset>
												<input role="group" aria-label="Investigadors" type="checkbox" id="visual_investigador_3" value="fitxa">
												<label aria-label="Investigadors" for="visual_investigador_3">{{ T "uoc_ri_cercador_investigadors"}}</label>
											</fieldset>
										</div>
										<div class="wrap-input">
											<fieldset>
												<input role="sols_innov" aria-label='{{ T "uoc_ri_cercador_solucions" }}' type="checkbox" id="visual_sols_innov_3" value="sols_innov">
												<label aria-label='{{ T "uoc_ri_cercador_solucions" }}' for="visual_sols_innov_3">{{ T "uoc_ri_cercador_solucions"}}</label>
											</fieldset>
										</div>
										<div class="wrap-input">
											<fieldset>
												<input role="spin_offs" aria-label='{{ T "uoc_ri_cercador_spin_off"}}' type="checkbox" id="visual_spin_off_3" value="spin_offs">
												<label aria-label='{{ T "uoc_ri_cercador_spin_off"}}' for="visual_spin_off_3">{{ T "uoc_ri_cercador_spin_off"}}</label>
											</fieldset>
										</div>
									</form>
									<p class="wrap-btn"><a href="#" title="Enlace siguiente" aria-label="Cercar" rel="next" class="btn btn--primary uoc_submitSearch">{{ T "uoc_ri_cercador_cercar"}}</a></p>
								</div>
							</div>
						</div>
						
						<div class="col-xs-12 col-lg-9">
							<div class="collapse grup results">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse_grups" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_grups"}}<span class="icon icon--arrow-down"></span></a></p>
								</div>
								
								<div id="collapse_grups" class="contentCollapse show ajaxLoading grupResults">
									<div class="card-in-acordeon js-changeVist">
										<div class="row">
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="collapse fitxa results">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse_fitxa" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_investigadors"}}<span class="icon icon--arrow-down"></span></a></p>
									<p class="result"></p>
								</div>
								<div id="collapse_fitxa" class="contentCollapse show ajaxLoading fitxaResults">
									<div class="card-in-acordeon js-changeVist">
										<div class="row">
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="collapse solucions results">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse_sol" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions"}}<span class="icon icon--arrow-down"></span></a></p>
									<p class="result"></p>
								</div>
								<div id="collapse_sol" class="contentCollapse show">
									<div class="head-collapse subCollapse js-collapse">
										<p><a href="#collapse_sol_tec" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_tec"}}<span class="icon icon--arrow-down"></span></a></p>
									</div>
									<div id="collapse_sol_tec" class="contentCollapse show ajaxLoading solucionsTecResults">
										<div class="card-in-acordeon js-changeVist">
											<div class="row">
												
											</div>
										</div>
									</div>
									
									
									<div class="head-collapse subCollapse js-collapse">
										<p><a href="#collapse_sol_pat" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_patents"}}<span class="icon icon--arrow-down"></span></a></p>
									</div>
									<div id="collapse_sol_pat" class="contentCollapse show ajaxLoading solucionsPatentsResults">
										<div class="card-in-acordeon js-changeVist">
											<div class="row">
												
											</div>
										</div>
									</div>
									
									
									<div class="head-collapse subCollapse js-collapse">
										<p><a href="#collapse_sol_serv" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_solucions_serveis"}}<span class="icon icon--arrow-down"></span></a></p>
									</div>
									<div id="collapse_sol_serv" class="contentCollapse show ajaxLoading solucionsServeissResults">
										<div class="card-in-acordeon js-changeVist">
											<div class="row">
												
											</div>
										</div>
									</div>
									
								</div>

							</div>
							<div class="collapse spin results">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse_spins" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_cercador_spin_off"}}<span class="icon icon--arrow-down"></span></a></p>
									<p class="result"></p>
								</div>
								<div id="collapse_spins" class="contentCollapse show ajaxLoading spinResults">
									<div class="card-in-acordeon js-changeVist">
										<div class="row">
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
</div>
{{ partial "ri_js_imports.html" . }}
<script src="/js/search.js"></script>
</body>
</html>