<!DOCTYPE html>
<html lang="ca">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "google_code_body.html" . }}
	{{ partial "header.html" . }}
	<div class="site-wrapper"> 
		{{ range $index, $elem := .Params.sections }}
			<section data-collapse-system="" class="destacado-contacto">
				<div class="row">
					<div data-collapse="" class="col-xs-12 col-clear collapse__wrapper uncollapsed">
						<div class="page-title title-border-green">
							<h2>{{ T "uoc_contact_parlem" }}</h2>
							<div class="page-title-collapsible"><a data-collapse-trigger="" data-collapse-system-trigger="" href="#" role="button" title="Texto descriptivo" aria-label="Texto descriptivo" aria-expanded="true" aria-controls="collapse__content{{ $index }}" class="collapse__trigger"><span aria-hidden="false" class="icon icon--arrow-down icon--after is-active-hidden float-right"></span><span aria-hidden="true" class="icon icon--arrow-up icon--after is-active-visible float-right"></span></a></div>
						</div>
						<div data-collapse-content="" id="collapse__content{{ $index }}" aria-hidden="false" class="collapse__content">
							<div data-collapse-inner="" class="row">
								<div class="col-xs-12 col-md-6">
									<div class="contact-form bg-gray">
										<form id="contacte-form" action="javascript:submitClick()">
											<div class="form-group">
												<fieldset>
													<label aria-label="nom" for="firstName" class="sr-only">{{ T "uoc_contact_fields_name" }}</label>
													<input aria-label="nom_input" id="firstName" name="firstName" type="text" size="26" maxlength="30" placeholder="{{ T "uoc_contact_fields_name" }} *" value="" class="form-item" required>
												</fieldset>
											</div>
											<div class="form-group row">
												<div class="col-xs-12 col-md-6">
                          <fieldset>
                            <label aria-label="cognom" for="middleName" class="sr-only">{{ T "uoc_contact_fields_middlename" }}</label>
                            <input aria-label="cognom_input" id="middleName" name="middleName" type="text" size="26" maxlength="30" placeholder="{{ T "uoc_contact_fields_middlename" }} *" value="" class="form-item m-bottom-y-mobile" required>
                          </fieldset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <fieldset>
                            <label aria-label="segon_cognom" for="lastName" class="sr-only">{{ T "uoc_contact_fields_lastname" }}</label>
                            <input aria-label="segon_cognom_input" id="lastName" name="lastName" type="text" size="26" maxlength="30" placeholder="{{ T "uoc_contact_fields_lastname" }}" value="" class="form-item">
                          </fieldset>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xs-12 col-md-6">
                          <fieldset>
                            <label aria-label="correu" for="email" class="sr-only">{{ T "uoc_contact_fields_email" }}</label>
                            <input aria-label="correu_input" id="email" name="email" type="email" maxlength="50" placeholder="{{ T "uoc_contact_fields_email" }} *" value="" class="form-item m-bottom-y-mobile" required>
                          </fieldset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <fieldset>
                            <label aria-label="telefon" for="phone" class="sr-only">{{ T "uoc_contact_fields_phone" }}</label>
                            <input aria-label="telefon_input" id="phone" name="phone" type="tel" placeholder="{{ T "uoc_contact_fields_phone" }} *" value="" class="form-item" pattern="[0-9\-\(\)\s]+" required>
                          </fieldset>
                        </div>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <label aria-label="empresa" for="company" class="sr-only">{{ T "uoc_contact_fields_company" }}</label>
                          <input aria-label="empresa_input" id="company" name="company" type="text" size="26" maxlength="30" placeholder="{{ T "uoc_contact_fields_company" }}" value="" class="form-item">
                        </fieldset>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <label aria-label="tema" for="subject" class="sr-only">{{ T "uoc_contact_fields_subject" }}</label>
                          <input aria-label="tema_input" id="subject" name="subject" type="text" size="26" maxlength="30" placeholder="{{ T "uoc_contact_fields_subject" }} *" value="" class="form-item" required>
                        </fieldset>
                      </div>
                      <div class="form-group">
                        <label aria-label="consulta" for="content" class="sr-only">{{ T "uoc_contact_fields_textarea" }}</label>
                        <textarea aria-label="consulta_input" name="content" id="content" rows="3" cols="40" type="text" maxlength="2500" size="2500" placeholder="{{ T "uoc_contact_fields_textarea" }} *" class="form-item" required></textarea>
                      </div>
                      <div class="form-group">
                      	<fieldset>
													<input  aria-label="no_soc_un_robot_input" type="checkbox" id="notARobot" value="" required>
													<label aria-label="no_soc_un_robot" for="notARobot">{{ T "uoc_contact_not_a_robot" }}</label>
												</fieldset>
                      </div>
                      <button type="submit" name="form_estudiants" class="btn btn--primary btn--block">{{ T "uoc_contact_send" }}</button>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 p-4x">
									<div class="contact-dates">
										<h3>{{$elem.name}}</h3>
										<p>{{$elem.addr_1}}<br>{{$elem.addr_2}}<br>{{$elem.addr_3}}</p>
										<p>
										{{ range $elem.phones }}
											{{ . }}<br>
										{{ end }}
										{{$elem.email}}
										</p>
										<p>
											{{ range $elem.urls }}
												{{ . }}<br>
											{{ end }}
										</p>
									</div>
								{{ if ne $elem.youtube nil }}
									<div style="width: 75%;">
										<div class="embed-container">
											<iframe src="{{ $elem.youtube }}" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>
								{{ end }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		{{ end }}
		{{ partial "footer.html" . }}
	</div>
	{{ partial "ri_js_imports.html" . }}

  <script type="text/javascript">

		$('#contacte-form').submit(function(){
	    $(this).find(':input[type=submit]').prop('disabled', true);
		});

		function submitClick() {
			var talentUrl = '{{ .Site.Params.talentUrl }}';
			var alertText = '{{ T "uoc_contact_response" }}';
			var origin   = window.location.origin;
			var lang = document.documentElement.lang;
			if(lang == null) lang = 'ca';
			var $form = $("#contacte-form");
			var formData = getFormData($form);
			formData['lang'] = lang;
    	$.ajax({
			  url: talentUrl + '/public/api/contactUs',
			  type: "POST",
			  data: JSON.stringify(formData),
			  contentType: "application/json",
			  dataType: "json",
			  success: function(data, status){
		    	alert(alertText);
			  },
		    error: function(data, status, error) { 
		    	alert("Data: " + JSON.stringify(data) + "\nStatus: " + status + "\nError: " + error);
		    }
			})
    }

    function getFormData($form){
	    var unindexed_array = $form.serializeArray();
	    var indexed_array = {};
	    $.map(unindexed_array, function(n, i){
	        indexed_array[n['name']] = n['value'];
	    });
	    return indexed_array;
		}

  </script>
</body>
</html>