<style>
    @media (max-width:768px){
      .cmsAction{display: block;}
    }
</style>

  {{ $.Scratch.Set "lang" ""}}
  {{ $nlang := len $.Site.Home.AllTranslations }}
  {{ range $index, $name := $.Site.Home.AllTranslations }}
      {{ $.Scratch.Add "lang" .Lang }}
      {{ if lt (add $index 1) $nlang }}
        {{ $.Scratch.Add "lang" "," }}
      {{ end }}
  {{ end }}

  <div class="row" style="display:none; margin-top:.5em; padding:.5em; padding-left: 1em; border:1px solid #ccc!important; background-color: #000; color: #fff" id="cms-editor">

    {{ $filename := (replace .File "." "-") }}
    {{ $filenameNoLang := (replace $filename (print "-" .Lang) "") }}

    {{ $collection := (replace (replace .URL (print ($filenameNoLang | urlize)  "/")  "") (print "/" .Lang "/") "") }}
    
    {{ $.Scratch.Set "addPageText" "Add page" }}
    {{ $.Scratch.Set "addPostText" "Add post" }}
    {{ $.Scratch.Set "editPageText" "Edit page"}}
    {{ $.Scratch.Set "editSectionText" "Edit section"}}
    {{ $.Scratch.Set "addSubSectionText" "Add subsection"}}

    {{ if eq .Lang "ca" }}
      {{ $.Scratch.Set "addPageText" "Afegeix una pàgina" }}
      {{ $.Scratch.Set "addPostText" "Afegeix un post" }}
      {{ $.Scratch.Set "editPageText" "Edita aquesta pàgina"}}
      {{ $.Scratch.Set "editSectionText" "Edita aquesta secció"}}
      {{ $.Scratch.Set "addSubSectionText" "Afegeix una subsecció"}}
    {{ end }}

    {{ if eq .Lang "es" }}
      {{ $.Scratch.Set "addPageText" "Añade una página" }}
      {{ $.Scratch.Set "addPostText" "Añade un post" }}
      {{ $.Scratch.Set "editPageText" "Edita esta página"}}
      {{ $.Scratch.Set "editSectionText" "Edita esta sección"}}
      {{ $.Scratch.Set "addSubSectionText" "Añade una subsección"}}
    {{ end }}

    <div>

      <span data-netlify-identity-button style="margin-right: .5em;"> </span>
      <!--span github-auth-button style="margin-right: .5em;">Log in </span-->

      {{ $webtype := .Site.Params.webtype }}

      {{ if or (eq $webtype "web") (eq $webtype nil) }}
          {{ if .IsPage }}
            <a href="/admin/{{ $collection }}#/collections/content/entries/{{ $filename }}" class="cmsAction" style="color: #fff; margin-right: .5em;">
              <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editPageText" }}
            </a>
          {{ end }}

          {{ if .IsSection }}
            <a href="/admin/{{ $collection }}#/collections/content/new" class="cmsAction" style="color: #fff; margin-right: .5em;">
              <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addPageText" }}
            </a>
            <a href="/admin/{{ $collection }}#/collections/section/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
              <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editSectionText" }}
            </a>
          {{ end }}

          {{ if or .IsHome .IsSection}}
            <a href="#" id="cms-editor-link-add" class="cmsAction" style="color: #fff; margin-right: .5em;" onclick="$('#addSectionBlock').css('display','inline'); return false;">
              <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addSubSectionText" }}
            </a>
            <span style="display:none" id="addSectionBlock" class="cmsAction">
              <input type="text" id="sectionName" style="color: #000;" />
              <button type="button" id="sectionNameButton" class="btn btn-info" >
                <span class="glyphicon glyphicon-ok"></span> OK
              </button>
            </span>
          {{ end }}
      {{ end }}

      {{ if eq $webtype "blog"}}
          {{ if and (not .IsSection) (not .IsHome) }}
            <a href="/admin/#/collections/{{.Section}}_{{.Lang}}/entries/{{ replace .File "." "-"}}" style="color: #fff;">
              <span class="icon icon--edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editPageText" }}
            </a>
          {{ end }}

          {{ if (.IsSection) }}
            <a href="/admin/#/collections/{{.Section}}_{{.Lang}}/new" style="color: #fff;">
              <span class="icon icon--plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addPostText" }}
            </a>
          {{ end }}

          {{ if (.IsHome) }}
            <a href="/admin/#/collections/posts_{{.Lang}}/new" style="color: #fff;">
              <span class="icon icon--plus text-small" aria-hidden="true"></span> {{ $.Scratch.Get "addPostText" }}
            </a>
            <a href="/admin/#/collections/pages_{{.Lang}}/new" style="color: #fff;">
              <span class="icon icon--plus text-small" aria-hidden="true"></span> {{ $.Scratch.Get "addPageText" }}
            </a>
          {{ end }}
      {{ end }}

  </div>

  <script>
   //CMS related staff 
   (function(w,o){
        var url = w.location.href;
        var cms=false;
        try{url = new URL(url);cms=url.searchParams.get("cms")=='true'?true:false;}
        catch(e){cms = url.indexOf("cms=true")>-1?true:false}

        if(cms || (window.localStorage && window.localStorage["netlify-cms-user"])){
          var r;
          for(var i=2,z=arguments.length; i<z;i++){
            if(arguments[i].indexOf(".js")>-1){
              r=o.createElement('script');r.async=1;
              r.src=arguments[i];
            }else if(arguments[i].indexOf(".css")>-1){
              r=o.createElement('link');r.rel="stylesheet";
              r.href=arguments[i];
            }
            o.getElementsByTagName('head')[0].appendChild(r);
          }

          //langs
          if(!w.cms){w.cms = {};}
          w.cms.currentlang = "{{.Lang}}";
          w.cms.langs = "{{ $.Scratch.Get "lang" }}";
        }
    })(window,document,'/js/cms.js','/js/tingle.min.js','/css/tingle.min.css');
  </script>