{{$type := .Type}}
{{$params := .Params}}
<section class="info-general">
    <div class="row">
        <div class="col-xs-12">
            <div class="h1 page-title title-border-light-blue">
                {{with .Params.general.nom}}<h2>{{.}}</h2>{{end}}
            </div>
        </div>

        <div class="col-xs-12 col-md-9">
            <section class="bg-main " style="background-image: url({{.Params.general.img_background}});" aria-label="main-section">
                <div class="img--tint"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                            {{with .Params.general.text_breu}}<h3 class="h2 inverse" >{{.}}</h3>{{end}}
                        </div>
                        <div class="col-md-12"></div>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            {{with .Params.general.slogan}}<p  class="h5 inverse" >{{.}}</p>{{end}}
                        </div>
                        <div data-dropdown="" class="dropdown">
                            <button data-dropdown-trigger="" aria-expanded="false" class="btn btn--primary">
                                {{ T "uoc_ri_detail_social_media" }}
                                <span class="icon icon--share"></span>
                            </button>
                            {{with .Params.general.xarxes}}
                            <div data-dropdown-content class="dropdown__content" style="background-color: white;">
                                {{partial "social_links.html" .}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="ficha-detail" aria-label="detail">
                <div class="box">
                    <div class="boxGrey">
                        <dl>
                        {{with .Params.general.sector}}<dt><strong>{{ T "uoc_ri_sector" }} :</strong></dt><dd>{{.}}</dd>{{end}}
                        {{with .Params.general.centre}}<dt><strong>{{ T "uoc_ri_centre" }} :</strong></dt><dd>{{.}}</dd>{{end}}
                        
                        {{if eq $type "solucio_tec"}}
                        <dt><strong>{{ T "uoc_ri_tipologia" }} :</strong></dt><dd>{{ T "uoc_ri_cercador_solucions_tec" }}</dd>
                        {{else if eq $type "patent"}}
                        <dt><strong>{{ T "uoc_ri_tipologia" }} :</strong></dt><dd>{{ T "uoc_ri_cercador_solucions_patents" }}</dd>
                        {{else if eq $type "servei"}}
                        <dt><strong>{{ T "uoc_ri_tipologia" }} :</strong></dt><dd>{{ T "uoc_ri_cercador_solucions_serveis" }}</dd>
                        {{else}}
                        <dt><strong>{{ T "uoc_ri_tipologia" }} :</strong></dt><dd>{{ T "uoc_ri_cercador_spin_off" }}</dd>
                        {{end}}

                        </dl>
                        
                        {{with .Params.general.logo}}
                        <p>
                            <div class="row">
                                
                                <div class="img--y col-xs-12 col-md-12">
                                    <div class="img-wpr img-wpr--horizontal">
                                        <img class="img-wpr__cover" src="{{.}}" alt="{{$params.general.nom}} logo" />
                                    </div>
                                </div>
                                
                            </div>
                            
                        </p>{{end}}
                        {{ with .Params.general.keywords }}
                    
                            <div class="row">

                                <div class="col-xs-12">

                                    <div data-dropdown="" aria-label="keywords" class="dropdown">
                                        <a href="#" data-dropdown-trigger="" class="dropdown-trigger" aria-expanded="false" aria-controls="dropdown__content1"><strong>{{ T "uoc_ri_keywords" }}</strong>
                                            <span class="icon icon--arrow-down icon--after is-active-hidden float-right"></span>
                                        </a>
                                        <ul role="list" id="dropdown__content1" data-dropdown-content="" class="dropdown__content dropdown__list">
                                            
                                            {{range .}}
                                            <li role="listitem" data-dropdown-content="" class="dropdown__item">
                                                <p class="text-small">
                                                    {{.value}}
                                                </p>
                                            </li>
                                            {{end}}
                                            
                                        </ul>
                                    </div>

                                </div>
                                  

                            </div>
                                                      
                        {{end}}
                    </div>	
                </div>
                
            </div>
        </div>
    </div>
</section>
        
<section data-tab-system="" class="ficha-detail mT60">
        
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <ul role="tablalist" data-sticky="data-sticky" class="list-group borderTopGrey toStick">
                {{with .Params.about}}    
                <li role="presentation">
                    <a id="tab-about" href="#tab-content-about" role="tab"
                    aria-controls="tab-content-about" aria-selected="false" data-tab-trigger=""
                    class="tab is-active"><span>
                        {{if eq $type "solucio_tec"}}{{ T "uoc_ri_about_tec" }}
                        {{else if eq $type "patent"}}{{ T "uoc_ri_about_pat" }}
                        {{else if eq $type "servei"}}{{ T "uoc_ri_about_serv" }}
                        {{else}}{{ T "uoc_ri_about_spin" }}{{end}}
                        
                    </span></a>
                </li>{{end}}
                {{with .Params.aspectes_innovadors}}                   
                <li role="presentation">
                    <a id="tab-innova" href="#tab-content-innova" role="tab"
                    aria-controls="tab-content-innova" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_aspect_innov" }}</span></a>
                </li>{{end}}
                {{with .Params.aplicacions}}          
                <li role="presentation">
                    <a id="tab-apps" href="#tab-content-apps" role="tab"
                    aria-controls="tab-content-apps" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_apps" }}</span></a>
                </li>{{end}}
                {{with .Params.productes_serveis}}          
                <li role="presentation">
                    <a id="tab-PS" href="#tab-content-PS" role="tab"
                    aria-controls="tab-content-PS" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_productes_serveis" }}</span></a>
                </li>{{end}}
                {{with .Params.clients}}          
                <li role="presentation">
                    <a id="tab-clients" href="#tab-content-clients" role="tab"
                    aria-controls="tab-content-clients" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_clients" }}</span></a>
                </li>{{end}}
                {{with .Params.casos_exit}}          
                <li role="presentation">
                    <a id="tab-casos" href="#tab-content-casos" role="tab"
                    aria-controls="tab-content-casos" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_casos_exit" }}</span></a>
                </li>{{end}}
                {{with or .Params.grup_recerca .Params.investigadors}}          
                <li role="presentation">
                    <a id="tab-grups" href="#tab-content-grups" role="tab"
                    aria-controls="tab-content-grups" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_research_groups" }}</span></a>
                </li>{{end}}
                {{with .Params.contacte}}       
                <li role="presentation">
                    <a id="tab-contact" href="#tab-content-contact" role="tab"
                    aria-controls="tab-content-contact" aria-selected="false" data-tab-trigger=""
                    class="tab"><span>{{ T "uoc_ri_contacte" }}</span></a>
                </li>{{end}}
            </ul>
            <div class="content-for-sticky"></div>
        </div>
        <div class="col-xs-12 col-md-9">
            {{with .Params.about}}
            <div id="tab-content-about" data-tab-content="" role="tabpanel" aria-labelledby="tab-about"
            aria-hidden="false" class="tab-content is-active">
                <div class="js-collapse-group">
                    
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapseAbout" aria-expanded="true"
                                class="js-collapseClick">
                                {{if eq $type "solucio_tec"}}{{ T "uoc_ri_about_tec" }}
                                {{else if eq $type "patent"}}{{ T "uoc_ri_about_pat" }}
                                {{else if eq $type "servei"}}{{ T "uoc_ri_about_serv" }}
                                {{else}}{{ T "uoc_ri_about_spin" }}{{end}}
                                <span class="icon icon--arrow-down"></span></a>
                            </h3>
                        </div>
                        <div id="collapseAbout" class="contentCollapse show">
                            {{partial "subsection.html" .}}
                        </div>
                    </div> 
                </div>
            </div>
            {{end}}
            {{with .Params.aspectes_innovadors}}                
            <div id="tab-content-innova" data-tab-content="" role="tabpanel" aria-labelledby="tab-innova"
                aria-hidden="false" class="tab-content">
                <div class="js-collapse-group">
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapseInnova" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_aspect_innov" }}<span
                                    class="icon icon--arrow-down"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseInnova" class="contentCollapse show">
                            {{partial "subsection.html" .}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{with .Params.aplicacions}}
            <div id="tab-content-apps" data-tab-content="" role="tabpanel" aria-labelledby="tab-apps"
            aria-hidden="false" class="tab-content">
                <div class="js-collapse-group">
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapseApps" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_apps" }}<span
                                    class="icon icon--arrow-down"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseApps" class="contentCollapse show">
                            {{partial "subsection.html" .}}
                        </div>
                    </div>
                </div>
            </div> 
            {{end}}
            {{with .Params.productes_serveis}}                
            <div id="tab-content-PS" data-tab-content="" role="tabpanel" aria-labelledby="tab-PS"
                aria-hidden="false" class="tab-content">
                <div class="js-collapse-group">
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapsePS" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_productes_serveis" }}<span
                                    class="icon icon--arrow-down"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapsePS" class="contentCollapse show">
                            {{partial "subsection.html" .}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}     
            {{with .Params.clients}}  
            <div id="tab-content-clients" data-tab-content="" role="tabpanel" aria-labelledby="tab-clients"
            aria-hidden="false" class="tab-content">
                <div class="js-collapse-group">
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapseClients" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_clients" }}<span
                                    class="icon icon--arrow-down"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseClients" class="contentCollapse show">
                            {{partial "subsection.html" .}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}     
            {{with .Params.casos_exit}}  
            <div id="tab-content-casos" data-tab-content="" role="tabpanel" aria-labelledby="tab-casos"
                aria-hidden="false" class="tab-content">
                <div class="js-collapse-group">
                    <div class="collapse">
                        <div class="head-collapse js-collapse">
                            <h3 class="h2">
                                <a href="#collapseCasos" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_casos_exit" }}<span
                                    class="icon icon--arrow-down"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseCasos" class="contentCollapse show">
                            {{ range $c := . }}
                            <div class="card-in-acordeon " role="list"> 
                                <h4 class = "h2" role="listitem">{{ $c.titol }}</h3>
                                {{with $c.img }}
                                <img src="{{.}}" alt="{{ $c.titol }} img" role="listitem">
                                {{end}}
                                {{with $c.descripcio }}
                                <div class="wrap-richText" role="listitem">{{ safeHTML (markdownify .) }}</div>
                                {{end}}
                                {{with $c.url_success }}
                                <a href="{{.}}" target="_blank" title='' role="listitem">
                                    <span class="icon icon--access"></span>
                                    <span class="h3">{{T "uoc_ri_casos_link"}}</span>
                                </a>
                                {{end}} 
                            </div>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            <div id="tab-content-grups" data-tab-content="" role="tabpanel" aria-labelledby="tab-grups"
            aria-hidden="false" class="tab-content">
                {{with .Params.grups_recerca}}
                <div class="collapse">
                    <div class="head-collapse js-collapse">
                        <h3 class="h2">
                            <a href="#collapseResearch" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_research_groups" }}<span
                            class="icon icon--arrow-down"></span></a>
                        </h3>
                    </div>
                    <div id="collapseResearch" class="contentCollapse show">
                        <div class="row">
                            {{ range .}}
                                <div class="col-md-4 col-xs-12">
                                    <a href="{{.url}}">
                                        <div class="card card-noimg" style="background-color: rgb(205, 245, 223);" role="region">
                                            
                                            <div class="card__contents">
                                                <div class = "h4"><strong>{{ .name }}</strong></div>
                                                <div>{{ .description }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
                {{with .Params.investigadors}}
                <div class="collapse">
                    <div class="head-collapse js-collapse">
                        <h3 class="h2">
                            <a href="#collapseResearchers" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_researchers" }}<span
                            class="icon icon--arrow-down"></span></a>
                        </h3>
                    </div>
                    <div id="collapseResearchers" class="contentCollapse show">
                        <div class="row">
                            {{ range .}}
                            <div class="col-xs-12 col-md-4">
                                <a href="{{.url}}">
                                    <div class="card">
                                        <div class="card__contents img-wpr">
                                            <img src="{{.url_img}}" alt="" class="img-wpr__cover">
                                            <div class="img-wpr__contents">
                                                <p><strong>{{ .name }}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            {{with .Params.contacte}}       
            <div id="tab-content-contact" data-tab-content="" role="tabpanel" aria-labelledby="tab-contact"
            aria-hidden="false" class="tab-content">
                <div class="collapse">
                    <div class="head-collapse js-collapse">
                        <h3 class="h2">
                            <a href="#collapseContact" aria-expanded="true" class="js-collapseClick">{{ T "uoc_ri_contacte" }}<span
                            class="icon icon--arrow-down"></span></a>
                        </h3>
                    </div>
                    <div id="collapseContact" class="contentCollapse show">
                        <div class="contact-list-icon">
                            
                            <div class="row">
                                {{range .}}
                                <div class="col-xs-12 col-md-4">
                                    <div class="wrap-content" role= list>
                                        {{with .text}}<h4 role= listitem><strong>{{.}}</strong></h4>{{end}}
                                        {{with .address}}<p role= listitem>{{.}}</p>{{end}}
                                        {{with .telefon}}<p role= listitem>{{.}}</p>{{end}}
                                        {{with .email}}<p role= listitem><a href="mailto: {{.}}">{{.}}</a></p>{{end}}
                                        {{with .image}}<img src="{{.}}" alt="" aria-hidden="true">{{end}}
                                        {{with .video}}
                                        <div class="embed-container" aria-hidden="true">
                                            <iframe src="https://www.youtube.com/embed/{{.}}" title='Youtube' allowfullscreen></iframe>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                                {{end}}
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>{{end}}
        </div>
    </div>
</section>
