<footer class="green-footer">
	

	{{ $url := (split .Permalink "/") }}
	{{ $baseurl := printf "%s" .Site.BaseURL }}
	{{$n := 0}}
	{{$local := false}}
	<!-- A localhost el permalink canvia -->
	{{if (eq (index (split $baseurl ":") 0) "//localhost")}}
		{{$local = true}}
		{{$n = 2}}	
	{{end}}
	{{$lang := index $url (add 1 $n)}}
	{{$collection := index $url (add 2 $n)}}
	{{$file := index (split (index $url (add 3 $n) ) ".") 0}}
	<div class=js-CMS>
		<div class="row">
			<br>
		</div>
		<div class="float-left">
			<div class="row">
				<div data-dropdown="" class="dropdown">
					<button data-dropdown-trigger="" aria-expanded="false" class="btn btn--primary">
						<span class="icon icon--speed"></span>
						<span class="h5">Build Status</span>
					</button>
					<div data-dropdown-content class="dropdown__content">
						<img src='{{ getenv "CB_URL_BADGE" }}' style="margin-top: 5px;"></img>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="float-right">
			<div class="ruler ruler--ri"></div>
			<div class="row">
				<a id="time-stamp" href="{{.Permalink}}" > 
					<span class="icon icon--lab"></span>
					<span class="h5">Preview</span>
				</a>
				&nbsp;&nbsp;&nbsp;
				<a href="{{$baseurl}}admin/{{if not $local}}index.html{{end}}#/collections/{{$collection}}_{{$lang}}/entries/{{$file}}.{{$lang}}" target="_blank"> 
					<span class="icon icon--edit-pencil"></span>
					<span class="h5">Editar {{$file}} amb Netlify CMS</span>
				</a>
			</div>
			
		</div>
	</div>
	
	<div class="page-footer-container footer-brand">
		<div class="col-xs-12 col-clear">
			<div class="footer-bg footer-bg-left"></div>
			<div class="brand-box footer-bg footer-bg-right"></div>
			<div class="col-xs-12 col-clear page-footer-top flexbox-layout">
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_ri"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-1"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_ri"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-1" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_ri_org_href"}}'>{{ T "uoc_grup_footer_ri_org"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_ri_transfer_href"}}'>{{ T "uoc_grup_footer_ri_transfer"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_ri_collab_href"}}'>{{ T "uoc_grup_footer_ri_collab"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_ri_visitants_href"}}'>{{ T "uoc_grup_footer_ri_visitants"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_explore"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-5"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_explore"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-5" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_days_href"}}'>{{ T "uoc_grup_footer_explore_days"}}</a></li>
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_hubbik_href"}}'>Hubbik</a></li>
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_prod_href"}}'>{{ T "uoc_grup_footer_explore_prod"}}</a></li>
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_projects_href"}}'>{{ T "uoc_grup_footer_explore_projects"}}</a></li>
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_memos_href"}}'>{{ T "uoc_grup_footer_explore_memos"}}</a></li>
								<li><a onclick="" target="_self" title="" href='{{ T "uoc_grup_footer_explore_catalog_href"}}'>{{ T "uoc_grup_footer_explore_catalog"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_support"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-2"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button
									class="custom-focus btnlink">{{ T "uoc_grup_footer_support"}}</button><span
									aria-hidden="true" class="icon icon--arrow-down pull-right"></span><span
									aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-2" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_support_library_href"}}'>{{ T "uoc_grup_footer_support_library"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_support_vigilance_href"}}'>{{ T "uoc_grup_footer_support_vigilance"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_osrt"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-3"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_osrt"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-3" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_osrt_team_href"}}'>{{ T "uoc_grup_footer_osrt_team"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_about"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-4"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button
									class="custom-focus btnlink">{{ T "uoc_grup_footer_about"}}</button>
									<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
									<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-4" class="hidden-xs hidden-sm">
							<ul class="footer-list">

								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_about_legal_href"}}'>{{ T "uoc_grup_footer_about_legal"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_about_access_href"}}'>{{ T "uoc_grup_footer_about_access"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href='{{ T "uoc_grup_footer_about_hr_href"}}'><img src='/img/hr_exellence.png' alt='' aria-hidden="true"/>{{ T "uoc_grup_footer_about_hr"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 col-lg-2 col-clear page-bg">
                <div class="ruler ruler--dynamic brand-box flexbox--item">
                  <div id="footer-twitter" class="brand-box-content">
                    <div class="footer-top-title hidden-xs hidden-sm">
                      <h2 class="h6">{{ T "uoc_grup_footer_social_twitter_account2" }}</h2>
                    </div>
                    <a class="twitter-timeline" href='https://twitter.com/{{ T "uoc_grup_footer_social_twitter_account2" }}?ref_src=twsrc%5Etfw' data-chrome="nofooter noborders transparent noheader" data-tweet-limit="1">{{ T "uoc_grup_footer_social_twitter_account2" }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <script>
                      
                      var widgetCSS = ".timeline-Body .timeline-TweetList .timeline-Tweet-author{display:none} .timeline-Body .timeline-TweetList .timeline-Tweet p.timeline-Tweet-text {font-family: uoc-sans, Helvetica, Arial; color: #000078; font-size:15px;font-style: italic;}";
                      

                      function paint(){
                        var w = document.getElementById("twitter-widget-0").contentDocument;
                        
                        var s = document.createElement("style");
                        s.innerHTML = widgetCSS;
                        s.type = "text/css";
                        w.head.appendChild(s);
                      }
                    </script>
                  </div>
                </div>
              </div>
					</div>
					<div class="col-xs-12 col-clear col-xs-12 col-clear page-footer-bottom">
						<div class="col-xs-12 col-md-3 col-lg-2 col-clear page-bg pull-right">
							<div class="brand-box">
								<div class="brand-box-content">
									<ul class="social-links ruler ruler--thin ruler--secondary">
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Facebook']);" href="http://www.facebook.com/UOC.universitat" target="_blank"
												title='Facebook {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Facebook {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-facebook" aria-hidden="true"> </span></a></li>
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Twitter']);"	href="https//twitter.com/UOC_research" target="_blank"
												title='Twitter {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Twitter {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-twitter" aria-hidden="true"> </span></a></li>
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'LinkedIn']);" href="https://www.linkedin.com/school/uoc/" target="_blank"	
												title='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}' aria-label='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-linkedin" aria-hidden="true"> </span></a></li>
										<li class="float-right"><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', {{ T "uoc_grup_footer_social_more"}}]);" href="//www.uoc.edu/portal/ca/universitat/contacte-seus/xarxes-socials/index.html" target="_blank" 
												title='{{ T "uoc_grup_footer_social_more"}}' aria-label='{{ T "uoc_grup_footer_social_more"}} {{ T "uoc_grup_footer_links_new_window"}}'><span class="6 icon icon--plus" aria-hidden="true"> </span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-9 col-lg-10 default-bg">
							<ul class="footer-text">
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_acup_acronym"}} ({{ T "uoclang"}})']);" href="http://www.acup.cat/index.php?lang=ca" target="_blank"
										title='{{ T "uoc_grup_footer_links_acup_acronym"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_acup_acronym"}} {{ T "uoc_grup_footer_links_new_window"}}'>{{ T "uoc_grup_footer_links_acup"}}</a></li>
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_vives"}} ({{ T "uoclang"}})']);" href="http://www.vives.org" target="_blank" 
										title='{{ T "uoc_grup_footer_links_vives"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_vives"}} {{ T "uoc_grup_footer_links_new_window"}}'>{{ T "uoc_grup_footer_links_vives"}}</a></li>
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_eua"}} ({{ T "uoclang"}})']);" href="http://www.eua.be/" target="_blank" 
										title='{{ T "uoc_grup_footer_links_eua"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_eua"}} {{ T "uoc_grup_footer_links_new_window"}}'> {{ T "uoc_grup_footer_links_eua"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<nav aria-label="Marques UOC"
				class="col-xs-offset-3 col-xs-6 col-clear nav-brands-container nav-brands-reverse col-clear nav-brands-desktop">
				<ul class="nav-brands">
					<li class="col-xs-12 col-md-2 selected"><a tabindex="0"	onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc"}}']);" href="https://www.uoc.edu/portal/ca/index.html" 
						target="_self" class="w100-inline-block ruler ruler--secondary"><span class="brand-text">{{ T "uoc"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_title_ri"}}']);"	href="https://www.uoc.edu/portal/ca/ri/index.html" 
						target="_self" class="w100-inline-block ruler ruler--ri"><span class="brand-text">{{ T "uoc_title_ri"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_x"}}']);" href="//x.uoc.edu/?ac=2535&amp;src=2535&amp;utm_source=LinkWebUOC&amp;utm_medium=Referrals&amp;utm_campaign=WebUOC&amp;utm_term&amp;utm_content=LinkEstudis"
						target="_self" class="w100-inline-block ruler ruler--x"><span class="brand-text">{{ T "uoc_x"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_corp"}}']);" href="https://www.uoc.edu/portal/ca/corporate/index.html" 
						target="_self" class="w100-inline-block ruler ruler--corporate"><span class="brand-text">{{ T "uoc_corp"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_alumni"}}']);" href="https://alumni.uoc.edu/opencms_alumni/opencms/ca/index.html" 
						target="_self" class="w100-inline-block ruler ruler--alumni"><span class="brand-text">{{ T "uoc_alumni"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_media"}}']);" href="https://www.uoc.edu/portal/ca/media/index.html" 
						target="_self" class="w100-inline-block ruler ruler--media"><span class="brand-text">{{ T "uoc_media"}}</span></a></li>
				</ul>
			</nav>
		</footer>
