<footer class="green-footer">
	<div class="page-footer-container footer-brand">
		<div class="col-xs-12 col-clear">
			<div class="footer-bg footer-bg-left"></div>
			<div class="brand-box footer-bg footer-bg-right"></div>
			<div class="col-xs-12 col-clear page-footer-top flexbox-layout">
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_ri"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-1"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_ri"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-1" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_ri_org"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_ri_transfer"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_ri_collab"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_ri_researchers"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_ri_visitants"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_explore"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-5"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_explore"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-5" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="" href="">{{ T "uoc_grup_footer_explore_days"}}</a></li>
								<li><a onclick="" target="_self" title="" href="">{{ T "uoc_grup_footer_explore_prod"}}</a></li>
								<li><a onclick="" target="_self" title="" href="">{{ T "uoc_grup_footer_explore_projects"}}</a></li>
								<li><a onclick="" target="_self" title="" href="">{{ T "uoc_grup_footer_explore_memos"}}</a></li>
								<li><a onclick="" target="_self" title="" href="">{{ T "uoc_grup_footer_explore_catalog"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_support"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-2"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button
									class="custom-focus btnlink">{{ T "uoc_grup_footer_support"}}</button><span
									aria-hidden="true" class="icon icon--arrow-down pull-right"></span><span
									aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-2" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_support_library"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_support_vigilance"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_support_intranet"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_osrt"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-3"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button class="custom-focus btnlink">{{ T "uoc_grup_footer_osrt"}}</button>
								<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
								<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-3" class="hidden-xs hidden-sm">
							<ul class="footer-list">
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_osrt_contact"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_osrt_team"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 default-bg">
					<div class="ruler ruler--secondary">
						<div class="footer-top-title hidden-xs hidden-sm">
							<h2 class="h6">{{ T "uoc_grup_footer_about"}}</h2>
						</div>
						<div aria-expanded="false" data-toggle="#footer-4"
							data-toggle-hide-class="hidden-xs hidden-sm" data-custom-focus-enabled="true"
							class="footer-top-title hidden-md hidden-lg hidden-xl">
							<h2 class="h6">
								<button
									class="custom-focus btnlink">{{ T "uoc_grup_footer_about"}}</button>
									<span aria-hidden="true" class="icon icon--arrow-down pull-right"></span>
									<span aria-hidden="true" class="icon icon--arrow-up pull-right"></span>
							</h2>
						</div>
						<div id="footer-4" class="hidden-xs hidden-sm">
							<ul class="footer-list">
									<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_about_rss"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_about_legal"}}</a></li>
								<li><a onclick="" target="_self" title="Graus" href="">{{ T "uoc_grup_footer_about_access"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2 col-lg-2 col-clear page-bg">
					<div class="ruler ruler--dynamic brand-box flexbox--item">
						<div id="footer-twitter" class="brand-box-content">
							<ul class="tweet_list">
								<li class="tweet_first tweet_odd">
									<div class="footer-top-title inherited-color">
										{{ T "uoc_grup_footer_social_twitter_account1"}}
									</div>
									<div class="footer-group__list">
										<p>
											<span class="tweet_text">Sabíeu que el nombre de <a href="https://twitter.com/search?q=%23cooperatives&amp;src=hash&amp;lang=all" class="tweet_hashtag">#cooperatives</a> 
														de consum <a href="https://twitter.com/search?q=%23agroecològic&amp;src=hash&amp;lang=all" class="tweet_hashtag">#agroecològic</a> ha augmentat un 58%
														a Barcelona en l'última dècada? És una de les conclusions de la	tesi doctoral de l'investigador i <a href="https://twitter.com/search?q=%23expertUOC&amp;src=hash&amp;lang=all" class="tweet_hashtag">#expertUOC</a>
														<span class="at">@</span><a href="//twitter.com/ricardespelt">ricardespelt</a><a href="http://ow.ly/3Oya50rJsvW">ow.ly/3Oya50rJsvW</a> via <span class="at">@</span><a href="//twitter.com/UOCNews">UOCNews</a> 
														cc <span class="at">@</span><a href="//twitter.com/dimmonsnet">dimmonsnet</a><span class="at">@</span><a href="//twitter.com/IN3_UOC">IN3_UOC</a>
														<a	href="https://twitter.com/UOCuniversitat/status/1121360734619865088/photo/1">pic.twitter.com/PqfXq61hEX</a>
													</span>
												</p>
											</div>
										</li>
										<li class="tweet_even">
											<div class="footer-top-title inherited-color">
												{{ T "uoc_grup_footer_social_twitter_account2"}}</div>
											<div class="footer-group__list">
												<p>
													<span class="tweet_text"><span class="at">@</span><a href="//twitter.com/calderon1_618">calderon1_618</a> 
														Te ponemos en contacto con <span class="at">@</span><a href="//twitter.com/UOCrespon">UOCrespon</a>
													</span>
												</p>
											</div>
										</li>
										<li class="tweet_odd">
											<div class="footer-top-title inherited-color">
												{{ T "uoc_grup_footer_social_twitter_account2"}}</div>
											<div class="footer-group__list">
												<p>
													<span class="tweet_text">RT <span class="at">@</span><a href="//twitter.com/UOCosrt">UOCosrt</a> ? 8a trobada de gestors de projectes 
														europeus de Catalunya: fem xarxa i compartim experiències. <a href="http://bit.ly/2Zwyo9I">bit.ly/2Zwyo9I</a>? 11/06?‍?? Amb la possibilitat de presentar-hi pòsters? A l'
														<span class="at">@</span><a	href="//twitter.com/EP350">EP350</a>. Coorganitza AGAUR i <span class="at">@</span><a href="//twitter.com/UOCuniversitat">UOCuniversitat</a>cc
														<span class="at">@</span><a	href="//twitter.com/recercat">recercat</a>#gestorsRDI <a href="https://twitter.com/search?q=%23recerca&amp;src=hash&amp;lang=all" class="tweet_hashtag">#recerca</a>
														<a href="https://twitter.com/search?q=%23HorizonEU&amp;src=hash&amp;lang=all" class="tweet_hashtag">#HorizonEU</a><a href="https://t.co/NK0Npt4aAc">https://t.co/NK0Npt4aAc</a>
													</span>
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-clear col-xs-12 col-clear page-footer-bottom">
						<div class="col-xs-12 col-md-3 col-lg-2 col-clear page-bg pull-right">
							<div class="brand-box">
								<div class="brand-box-content">
									<ul class="social-links ruler ruler--thin ruler--secondary">
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Facebook']);" href="http://www.facebook.com/UOC.universitat" target="_blank"
												title='Facebook {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Facebook {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-facebook"> </span></a></li>
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Twitter']);"	href="http://twitter.com/UOCuniversitat" target="_blank"
												title='Twitter {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Twitter {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-twitter"> </span></a></li>
										<li><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'LinkedIn']);" href="https://www.linkedin.com/school/uoc/" target="_blank"	
												title='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}' aria-label='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-linkedin"> </span></a></li>
										<li class="float-right"><a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', {{ T "uoc_grup_footer_social_more"}}]);" href="//www.uoc.edu/portal/ca/universitat/contacte-seus/xarxes-socials/index.html" target="_blank" 
												title='{{ T "uoc_grup_footer_social_more"}}' aria-label='{{ T "uoc_grup_footer_social_more"}} {{ T "uoc_grup_footer_links_new_window"}}'><span class="6 icon icon--plus"> </span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-9 col-lg-10 default-bg">
							<ul class="footer-text">
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_acup_acronym"}} ({{ T "uoclang"}})']);" href="http://www.acup.cat/index.php?lang=ca" target="_blank"
										title='{{ T "uoc_grup_footer_links_acup_acronym"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_acup_acronym"}} {{ T "uoc_grup_footer_links_new_window"}}'>{{ T "uoc_grup_footer_links_acup"}}</a></li>
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_vives"}} ({{ T "uoclang"}})']);" href="http://www.vives.org" target="_blank" 
										title='{{ T "uoc_grup_footer_links_vives"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_vives"}} {{ T "uoc_grup_footer_links_new_window"}}'>{{ T "uoc_grup_footer_links_vives"}}</a></li>
								<li><a onclick="_gaq.push(['_trackEvent','Footer','Footer Links(Associacions)', '{{ T "uoc_grup_footer_links_eua"}} ({{ T "uoclang"}})']);" href="http://www.eua.be/" target="_blank" 
										title='{{ T "uoc_grup_footer_links_eua"}} {{ T "uoc_grup_footer_links_new_window"}}' aria-label='{{ T "uoc_grup_footer_links_eua"}} {{ T "uoc_grup_footer_links_new_window"}}'> {{ T "uoc_grup_footer_links_eua"}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Marques UOC"
				class="col-xs-offset-3 col-xs-6 col-clear nav-brands-container nav-brands-reverse col-clear nav-brands-desktop">
				<ul class="nav-brands">
					<li class="col-xs-12 col-md-2 selected"><a tabindex="0"	onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc"}}']);" href="https://www.uoc.edu/portal/ca/index.html" 
						target="_self" title='{{ T "uoc"}}' class="w100-inline-block ruler ruler--secondary"><span class="brand-text">{{ T "uoc"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_title_ri"}}']);"	href="https://www.uoc.edu/portal/ca/ri/index.html" 
						target="_self" title='{{ T "uoc_title_ri"}}' class="w100-inline-block ruler ruler--ri"><span class="brand-text">{{ T "uoc_title_ri"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_x"}}']);" href="//x.uoc.edu/?ac=2535&amp;src=2535&amp;utm_source=LinkWebUOC&amp;utm_medium=Referrals&amp;utm_campaign=WebUOC&amp;utm_term&amp;utm_content=LinkEstudis"
						target="_self" title='{{ T "uoc_x"}}' class="w100-inline-block ruler ruler--x"><span class="brand-text">{{ T "uoc_x"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_corp"}}']);" href="https://www.uoc.edu/portal/ca/corporate/index.html" 
						target="_self" title='{{ T "uoc_corp"}}' class="w100-inline-block ruler ruler--corporate"><span class="brand-text">{{ T "uoc_corp"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_alumni"}}']);" href="https://alumni.uoc.edu/opencms_alumni/opencms/ca/index.html" 
						target="_self" title='{{ T "uoc_alumni"}}' class="w100-inline-block ruler ruler--alumni"><span class="brand-text">{{ T "uoc_alumni"}}</span></a></li>
					<li class="col-xs-12 col-md-2"><a tabindex="0" onclick="_gaq.push(['_trackEvent','Header','Links Header', '{{ T "uoc_media"}}']);" href="https://www.uoc.edu/portal/ca/media/index.html" 
						target="_self" title='{{ T "uoc_media"}}' class="w100-inline-block ruler ruler--media"><span class="brand-text">{{ T "uoc_media"}}</span></a></li>
				</ul>
			</nav>
		</footer>