.detailInvestigador.mB20 {
  margin-bottom: 20px;
}

.detailInvestigador .wrap-img-investigador {
  width: 100%;
}

@media (min-width: 992px) {
  .detailInvestigador .wrap-img-investigador {
    width: 95%;
  }
}

.detailInvestigador .wrap-text-investigador h2 {
  font-size: 55px;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  max-width: none;
}

@media (min-width: 992px) {
  .detailInvestigador .wrap-text-investigador h2 {
    width: 95%;
  }
}

.detailInvestigador .wrap-text-investigador p.subtitle {
  font-size: 28px;
}

.detailInvestigador .wrap-text-investigador p.cita {
  color: #706f6f;
  font-size: 22px;
  font-style: italic;
  width: 95%;
}

.detailInvestigador .wrap-icons {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .detailInvestigador .wrap-icons {
    margin-bottom: 0;
  }
}

.detailInvestigador .wrap-icons .dropdown {
  display: inline-block;
}

.detailInvestigador .wrap-icons p {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 5px;
}

.detailInvestigador .wrap-icons p:last-of-type {
  margin: 0;
}

.detailInvestigador .wrap-icons p a {
  display: inline-block;
}

.detailInvestigador .wrap-icons p a e {
  font-size: 25px;
}

.detailInvestigador .wrap-icons p a img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}

.detailInvestigador .wrap-icons p a.seemore {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.detailInvestigador .wrap-tag {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .detailInvestigador .wrap-tag {
    margin-bottom: 0;
  }
}

.detailInvestigador .wrap-tag p.title {
  font-size: 17px;
}

.detailInvestigador .wrap-tag span.tag {
  background: #f0f0f0;
  padding: 5px 10px;
  color: #000078;
  margin: 0 8px 8px 0;
  display: inline-block;
  font-size: 14px;
}

.detailInvestigador .ficha-detail .box {
  min-height: auto;
}

.detailInvestigador .ficha-detail .boxGrey p {
  font-size: 17px;
}

.detailInvestigador .ficha-detail .boxGrey p strong {
  font-size: 20px;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li {
  width: 34px;
  height: 34px;
  position: relative;
  display: inline-block;
  position: relative;
  padding-left: 0;
  padding: 10px;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li::before {
  display: none;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 2;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li.select-icon::before {
  width: 34px;
  height: 34px;
  z-index: 2;
}

.detailInvestigador .ficha-detail .boxGrey ul.tag-icons-custom li.select-icon:after {
  z-index: 2;
}
