<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
        {{ partial "head.html" . }}
</head>

<body>

    {{ partial "google_code_body.html" . }}
    {{ partial "header.html" . }}
    
    <div class="site-wrapper">
        <section class="titol-pagina">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title title-border-green">
                        <h2>{{ T "uoc_difusio" }}</h2>
                    </div>
                </div>
            </div>

            {{ range first 1 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang)}}
            <div class=" col-md-9 col-xs-9">
                <a href="{{.Permalink}}" class="">
                <div class="bg-simple img-wpr img-wpr--horizontal img--tint">
                    {{ with .Params.general.img}}<img src="{{.}}" class="img-wpr__cover" alt="">{{end}}
                    <div class="img-wpr__contents_no-bg">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class=" inverse">{{ with .Params.general.titol}}{{.}}{{end}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="img-wpr__contents_no-bg"  style="bottom: .5rem;">
                        <div class="row">
                            <div class="float-right p-right-x text-small inverse">{{if eq .Type "noticia" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}
                            </div>
                        </div>
                    </div>
                </div></a>
            </div>
            {{end}}

            {{ range first 1 (after 1 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
            <div class="col-xs-6 col-md-3" role="article">
                <a href="{{.Permalink}}" class="card-absolute-link"></a>
                <div class="card" role="region" aria-label="Texto descriptivo" >
                    <div class="card__image">
                        <img src="{{with .Params.general.img}}{{.}}{{end}}" alt="{{with .Params.general.titol}}{{.}}{{end}}">
                    </div>
                    <div class="card__contents" >
                        <h3 class="h5 text font-alternate">{{.Params.general.titol}}</h3>
                        {{ with .Params.general.entrada}}<p class="text-small text font-alternate"><blockquote class="pullquote">{{.}}</blockquote></p>{{end}}
                    </div>
                    <div class="card__footer">
                        <div class="float-left p-left-x  icon icon--external-link"></div>
                        <div class="float-right p-right-x">{{if eq .Type "noticia" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}</div>
                    </div>
                </div>
            </div>
            {{end}}
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-align-center text-small" style="margin-top:50px;margin-bottom:50px;">
                        <h2 class="h4"><strong>{{ T "uoc_ri_difusio_novetats" }}</strong></h2>
                                <div class="icon icon--arrow-down"></div>

                     </div>
                </div>
            </div>               
            <div class="row resultsDifusions">
                <div class="col-xs-12 col-md-12 col-lg-12" >
                    <div class="row list-difusions">
                    </div>
                    <div class="pagination-difusions">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pagination-difusions-container"></div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>    
        {{ partial "ri_js_imports.html" . }}

        <script src="/js/difusions.js"></script>
        <script src="/js/lib/pagination.min.js"></script>
        <script src="/js/lib/matchHeight.js"></script>
        <script type="text/javascript">
            $(".list-difusions .card").matchHeight(); 
            var noticiaLabel = '{{ T "uoc_ri_noticia" }}';
            var esdevenimentLabel = '{{ T "uoc_ri_esdeveniment" }}';
            var difusionsDestacades = [
                {{ range (after 2 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
                  {
                    "destacat": {{.Params.destacat}},
                    "data": {{.Params.date}},
                    "link": {{.Permalink}},{{with .Params.general.img}}
                    "img" : {{.}},{{end}}{{with .Params.general.titol}}
                    "titol" : {{.}},{{end}}{{with .Params.general.entrada}}
                    "entrada": {{.}},{{end}}

                    {{- if eq .Type "noticia" }}
                    "type" : "noticia"
                    {{else if eq .Type "esdeveniment"}}
                    "type" : "esdeveniment"
                    {{end}} 
                  },
                {{end}}                                                        
            ];
            var restaDifusions = [
                {{ range (where (where .Site.Pages.ByDate ".Params.destacat" false) ".Params.language" .Site.Language.Lang)}}
                {
                    "destacat": {{.Params.destacat}},
                    "data": {{.Params.date}},
                    "link": {{.Permalink}},{{with .Params.general.img}}
                    "img" : {{.}},{{end}}{{with .Params.general.titol}}
                    "titol" : {{.}},{{end}}{{with .Params.general.entrada}}
                    "entrada": {{.}},{{end}}

                    {{- if eq .Type "noticia" }}
                    "type" : "noticia"
                    {{else if eq .Type "esdeveniment"}}
                    "type" : "esdeveniment"
                    {{end}} 
                },
                {{end}}                                                        
            ]
            var literals = {
                pagination: {
                    next: '{{ T "uoc_pagination_next" }}',
                    previous: '{{ T "uoc_pagination_prev" }}'
                },
                connectionError: '{{ T "uoc_search_connerror" }}',
                noresults : '{{ T "uoc_search_noresults" }}'
            }     
        </script>
</body>
</html>