<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
        {{ partial "head.html" . }}
</head>

<body>

    {{ partial "google_code_body.html" . }}
    {{ partial "header.html" . }}
    
    <div class="site-wrapper">
        <section class="titol-pagina">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title title-border-green">
                        <h2>{{ T "uoc_difusio" }}</h2>
                    </div>
                </div>
            </div>

            {{ range first 1 (where (where .Site.Pages.ByDate.Reverse ".Params.destacat" true) ".Params.language" .Site.Language.Lang)}}
            <div class=" col-md-9 col-xs-9" role="region">
                
                <div class="bg-simple img-wpr img-wpr--horizontal img--tint link-trigger">
                    
                    {{ with .Params.general.img}}<img src="{{.}}" class="img-wpr__cover" alt="">{{end}}
                    <a href="{{.Permalink}}" aria-labelledby="x0" tabindex="-1" aria-hidden="true"></a>
                    <div class="img-wpr__contents_no-bg">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class=" inverse"><a id="x0" href="{{.Permalink}}">{{ with .Params.general.titol}}{{.}}{{end}}<span class="visually-hidden">{{T "uoc_ri_difusions_link"}}</span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="img-wpr__contents_no-bg"  style="bottom: .5rem;">
                        <div class="row">
                            <span class="float-right p-right-x text-small inverse"><span class="visually-hidden">Tag: </span>{{if eq .Type "noticia" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}

            {{ range first 1 (after 1 (where (where .Site.Pages.ByDate.Reverse ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
            <div class="col-xs-6 col-md-3" role="region">
                
                <div class="card">
                    <a href="{{.Permalink}}" aria-labelledby="x1" tabindex="-1" class="card-absolute-link" aria-hidden="true"></a>
                    <div class="card__image">
                        <img src="{{with .Params.general.img}}{{.}}{{end}}" alt="">
                    </div>
                    <div class="card__contents" >
                        <h3 class="h5 text font-alternate"><a id="x1" href="{{.Permalink}}">{{ with .Params.general.titol}}{{.}}{{end}}<span class="visually-hidden">{{T "uoc_ri_difusions_link"}}</span></a></h3>
                        {{ with .Params.general.entrada}}<p class="text-small text font-alternate"><blockquote class="pullquote">{{.}}</blockquote></p>{{end}}
                    </div>
                    <div class="card__footer">
                        <span class="float-left p-left-x  icon icon--external-link" aria-hidden="true"></span>
                        <span class="float-right p-right-x"><span class="visually-hidden">Tag: </span>{{if eq .Type "noticia" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}</span>
                    </div>
                </div>
            </div>
            {{end}}
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-align-center text-small" style="margin-top:50px;margin-bottom:50px;">
                        <h2 class="h4"><strong>{{ T "uoc_ri_difusio_novetats" }}</strong></h2>
                                <span class="icon icon--arrow-down" aria-hidden="true"></span>

                     </div>
                </div>
            </div>               
            <div class="row resultsDifusions">
                <div class="col-xs-12 col-md-12 col-lg-12" >
                    <div class="row list-difusions" role="list">
                    </div>
                    <div class="pagination-difusions">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pagination-difusions-container " aria-label = pagination></div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>    
        {{ partial "ri_js_imports.html" . }}

        <script src="/js/difusions_ri.js"></script>
        <script src="/js/lib/pagination.min.js"></script>
        <script src="/js/lib/matchHeight.js"></script>
        <script type="text/javascript">
            $(".list-difusions .card").matchHeight(); 
            var noticiaLabel = '{{ T "uoc_ri_noticia" }}';
            var LinkLang = '{{T "uoc_ri_difusions_link"}}';
            var esdevenimentLabel = '{{ T "uoc_ri_esdeveniment" }}';
            var difusionsDestacades = [
                {{ range (after 2 (where (where .Site.Pages.ByDate.Reverse ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
                  {
                    "destacat": {{.Params.destacat}},
                    "data": {{.Params.date}},
                    "link": {{.Permalink}},{{with .Params.general.img}}
                    "img" : {{.}},{{end}}{{with .Params.general.titol}}
                    "titol" : {{.}},{{end}}{{with .Params.general.entrada}}
                    "entrada": {{.}},{{end}}

                    {{- if eq .Type "noticia" }}
                    "type" : "noticia"
                    {{else if eq .Type "esdeveniment"}}
                    "type" : "esdeveniment"
                    {{end}} 
                  },
                {{end}}                                                        
            ];
            var restaDifusions = [
                {{ range (where (where .Site.Pages.ByDate.Reverse ".Params.destacat" false) ".Params.language" .Site.Language.Lang)}}
                {
                    "destacat": {{.Params.destacat}},
                    "data": {{.Params.date}},
                    "link": {{.Permalink}},{{with .Params.general.img}}
                    "img" : {{.}},{{end}}{{with .Params.general.titol}}
                    "titol" : {{.}},{{end}}{{with .Params.general.entrada}}
                    "entrada": {{.}},{{end}}

                    {{- if eq .Type "noticia" }}
                    "type" : "noticia"
                    {{else if eq .Type "esdeveniment"}}
                    "type" : "esdeveniment"
                    {{end}} 
                },
                {{end}}                                                        
            ]
            var literals = {
                pagination: {
                    next: '{{ T "uoc_pagination_next" }}',
                    previous: '{{ T "uoc_pagination_prev" }}'
                },
                connectionError: '{{ T "uoc_search_connerror" }}',
                noresults : '{{ T "uoc_search_noresults" }}'
            }     
        </script>
</body>
</html>