<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    {{ partial "head.html" . }}
    {{ $generalInfo := index (.Params.general) 0 }}
    {{ $sobreTec := index (.Params.sobre_tecnologia) 0 }}
    {{ $aspectesInnova := index (.Params.aspectes_innovadors) 0 }}
    {{ $apps := index (.Params.aplicacions) 0 }}
    {{ $grupsRecerca := index (.Params.grups_recerca) 0 }}
    {{ $contacte := index (.Params.contacte) 0 }}
</head>

<body>
    {{ partial "header.html" . }}
    <div class="site-wrapper">
        
        <main id="main-global" role="main" class="col-xs-12 ">
        
            <div class="clearfix">

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-10 col-clear-right">
                    <div class="component-header ruler m-bottom-4y ruler--dynamic p-right-4x"> 
                        
                        <h2 class="h1 h1-responsive">{{ $generalInfo.nom_solucio }}</h2>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-10 col-clear-right">

                        <div class="col-xs-9 col-md-7 col-lg-8 col-sm-10 col-clear-right">
                            <div class="component-header ruler m-bottom-4y ruler--dynamic p-right-4x"> 
                                
                                <!-- <h2 class="h1 h1-responsive">Proyectos</h2> IMAGEN + DESCRIPCION GENERAL -->
                                
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-3 col-clear-left hidden-xs hidden-sm">
                            <div class="component-header ruler  ruler--dynamic p-right-4x"> 
                                <!-- <span class="h4"><a target="_self" href="/portal/es/ri/projectes-publicacions/index.html">Qué se investiga</a></span> INFO GENERAL DE LA SOLUCION -->
                            </div>
                        </div>

                </div>                
                
            </div>
            
            
            <div id="main-contents">
    
                
                <div class="col-xs-12 col-md-3"></div>
                <div class="projectDetail col-xs-12 col-md-6">
                    
                    
                    <div class="paragraph"><span class="bold"></span></div>
                    
                    
                    <div class="paragraph"><span class="bold"></span> 
                        
                    </div>
                    
                    
                    <div class="paragraph">
                        <span class="bold"></span>
                    </div>
                    
                    
                    <div class="paragraph">
                        <span class="bold"></span>  
    
                        
                    </div>
                    
                    
                    <div class="paragraph">
                        <span class="bold"></span>
                        
                        
                    </div>
                    
                    
                    
                    <div class="paragraph">
                        <span class="bold"></span>
                        
                    </div>
                    
                    <div class="paragraph"><span class="bold"></span></div>
                    <div class="paragraph"><span class="bold">:</span></div>
                    
                </div>
                
            </div>
        </main>
    </div>    
    {{ partial "footer.html" . }}
</div>
{{ partial "ri_js_imports.html" . }}
<!--script src="/js/search.js"></script-->
</body>
</html>




























