<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "google_code_body.html" . }}
	{{ partial "header.html" . }}
	<div class="site-wrapper"> 
		<section class="titol-pagina">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title title-border-green">
						<h2>{{ T "uoc_ri_mapaambits_titol" }}</h2>
					</div>
				</div>
			</div>
		</section>
		<section data-tab-system="" class="pestanyes">
			<div class="row">
				<div class="filters-main-block block-with-text">
					<div class="filters-main__box col-md-6">
						<a id="tab-1" href="#tab-content-1" role="tab" aria-controls="tab-content-1" aria-selected="true" data-tab-trigger="" class="tab cercaAmbitEspecialitzacio">
							<h3>{{ T "uoc_ri_mapaambits_cercaper_especialitzacio" }}</h3>
							<p>{{ T "uoc_ri_mapaambits_cercaper_ambit" }}</p>
						</a>
					</div>
					<div class="filters-main__box col-md-6">
						<a id="tab-2" href="#tab-content-2" role="tab" aria-controls="tab-content-2" aria-selected="false" data-tab-trigger="" class="tab cercaAmbitGeneral">
							<h3>{{ T "uoc_ri_mapaambits_cercaper_general" }}</h3>
							<p>{{ T "uoc_ri_mapaambits_cercaper_ambit" }}</p>
						</a>
					</div>
				</div>
				<div class="col-xs-12">
					<div id="tab-content-1" data-tab-content="" role="tabpanel" aria-labelledby="tab-1" aria-hidden="true" class="tab-content cercaAmbitEspecialitzacio">
						<section class="acordeon m-4y">
							<div id="printFragmentSpecial" class="row">
								<div class="col-xs-12">
									{{ range $index, $element := .Params.ambits_especialitzacio }}
									<div class="js-collapse-group">
										<div class="collapse">
											<div class="head-collapse borderGray js-collapse">
												<p>
													<a data_ambit="{{$element.value}}" href="#collapse{{$index}}" aria-expanded="false" class="js-collapseClick">
														{{$element.display_name}}<span class="icon icon--arrow-down"></span>
													</a>
												</p>
											</div>
											<div id="collapse{{$index}}" class="contentCollapse ajaxLoading">
												<div class="wrap-richText">
													<div class="card-in-acordeon js-changeVist">
														<div class="row">
															{{ range $i, $sequence :=  (seq 3) }}
																<div class="col-xs-12 col-md-4">
																	<div class="uoc_card_placeholder">
																		<div class="title"></div>
																		<div class="line-long"></div>
																		<div class="line-short"></div>
																		<div class="line-medium"></div>
																	</div>
																</div>
															{{ end }}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{{ end }}
								</div>
							</div>
							<button class="btn btn--primary float-right m-top-2y" onclick='specialPDF({{ T "uoc_ri_mapaambits_cercaper_especialitzacio" }});'>
								<span class="icon icon--pdf"></span>
								<span class="h5">{{T "uoc_ri_mapaambits_pdf"}}</span>
							</button>
						</section>
					</div>
					<div id="tab-content-2" data-tab-content="" role="tabpanel" aria-labelledby="tab-2" aria-hidden="false" class="tab-content cercaAmbitGeneral">
						<section class="acordeon m-4y">
							<div id="printFragmentGeneral" class="row">
								<div class="col-xs-12">
									{{ range $index, $element := .Params.ambit }}
										<div class="js-collapse-group">
											<div class="collapse">
												<div class="head-collapse borderGray js-collapse">
													<p>
														<a data_ambit="{{$element.value}}" href="#collapseambit{{$index}}" aria-expanded="false" class="js-collapseClick">
															{{$element.display_name}}<span class="icon icon--arrow-down"></span>
														</a>
													</p>
												</div>
												<div id="collapseambit{{$index}}" class="contentCollapse ajaxLoading">
													<div class="wrap-richText">
														<div class="card-in-acordeon js-changeVist">
															<div class="row">
																{{ range $i, $sequence :=  (seq 3) }}
																	<div class="col-xs-12 col-md-4">
																		<div class="uoc_card_placeholder">
																			<div class="title"></div>
																			<div class="line-long"></div>
																			<div class="line-short"></div>
																			<div class="line-medium"></div>
																		</div>
																	</div>
																{{ end }}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									{{ end }}
								</div>
							</div>
							<button class="btn btn--primary float-right m-top-2y" onclick='generalPDF({{ T "uoc_ri_mapaambits_cercaper_general" }});'>
								<span class="icon icon--pdf"></span>
								<span class="h5">{{T "uoc_ri_mapaambits_pdf"}}</span>
							</button>
						</section>
					</div>
				</div>
			</div>
			
		</section>
		{{ partial "footer.html" . }}
	</div>
	{{ partial "ri_js_imports.html" . }}
	<script src="/js/search_mapa_ri.js"></script>
</body>
</html>