<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "google_code_body.html" . }}
	<section class="hero-section" style="z-index:-1;">
		<div class="hero-section__img">
			{{ partial "header.html" . }}
			<img src="https://via.placeholder.com/1200x500" alt="Hero imagen" class="img-responsive w100 hidden-xs hidden-sm">
			<img src="https://via.placeholder.com/800x1000" alt="Hero imagen" class="img-responsive w100 visible-xs visible-sm">
			
		</div>
		<div class="hero-section__icons">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul>
							<li><span aria-hidden="true" class="icon icon--user"></span><span class="title">45</span>{{ T "uoc_ri_home_carousel_grups" }}</li>
							<li><span aria-hidden="true" class="icon icon--search"></span><span class="title">1.200</span>{{ T "uoc_ri_home_carousel_investigadors" }}</li>
							<li><span aria-hidden="true" class="icon icon--lab"></span><span class="title">2</span>{{ T "uoc_ri_home_carousel_centres" }}</li>
							<li><span aria-hidden="true" class="icon icon--pencil"></span><span class="title">{{ T "uoc_ri_home_carousel_mesde" }} 100</span>{{ T "uoc_ri_home_carousel_solucions" }}</li>
							<li><span aria-hidden="true" class="icon icon--profile"></span><span class="title">3</span>{{ T "uoc_ri_home_carousel_spinoff" }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="main-content" class="site-wrapper">
		<section data-tab-system="" class="filters-main">
			<div class="row">
				<div class="filters-main-block">
					<div class="filters-main__box border-green">
						<h3>{{ T "uoc_ri_cercadortab_filtres" }}</h3>
						<p><a id="tab-1" href="#tab-content-1" role="tab" aria-controls="tab-content-1" aria-selected="true" data-tab-trigger="" class="tab is-active cercaFiltres"><span class="icon icon--arrow-down"></span></a></p>
					</div>
					<div class="filters-main__box border-green">
						<h3>{{ T "uoc_ri_cercadortab_sectors" }}</h3>
						<p><a id="tab-3" href="#tab-content-3" role="tab" aria-controls="tab-content-3" aria-selected="false" data-tab-trigger="" class="tab cercaSectors"><span class="icon icon--arrow-down"></span></a></p>
					</div>
					<div class="filters-main__box border-green">
						<h3>{{ T "uoc_ri_cercadortab_text" }}</h3>
						<p><a id="tab-2" href="#tab-content-2" role="tab" aria-controls="tab-content-2" aria-selected="false" data-tab-trigger="" class="tab cercaTextual"><span class="icon icon--arrow-down"></span></a></p>
					</div>
				</div>
				<div class="col-xs-12">
					<div id="tab-content-1" data-tab-content="" role="tabpanel" aria-labelledby="tab-1" aria-hidden="true" class="filters-main__content tab-content cercaFiltres">
						<form action="" class="radio-accordeon search-form-container">
							<h4>{{ T "uoc_ri_cercador_cercaper" }}</h4>
							<div class="radio-collapse-item active">
								<input role="radiogroup" aria-label="paymentMode" type="radio" name="paymentMode" value="CreditCard" id="creditcard" class="js-payment-mode-radio">
								<label for="creditcard" class="checkbox-wrapper payment-mode-label">{{ T "uoc_ri_cercador_filtres_ambitsespecialitzacio" }}</label>
								<div class="collapse-content">
									<ul class="tag-list ambits_especialitzacio">
										{{ range $index, $element := .Params.ambits_especialitzacio }}
										<li data-ambit="{{ $element.value}}">{{ $element.display_name }}</li>
										{{ end }}
									</ul>
								</div>
							</div>
							<div class="radio-collapse-item">
								<input role="radiogroup" aria-label="paymentMode" type="radio" name="paymentMode" value="Boleto" id="boleto" class="js-payment-mode-radio">
								<label for="boleto" class="checkbox-wrapper payment-mode-label">{{ T "uoc_ri_cercador_filtres_ods"}}</label>
								<div class="collapse-content">
									<style>.tag-icons li {vertical-align: bottom;}</style>
									<ul class="tag-icons ods">
										{{ range $index, $element := .Params.ods }}
										<li class="tag-icons-{{$element.color}}">
											<p> <span class="number">{{add $index 1}}</span><span class="title">{{$element.display_name}}</span></p><span class="icon icon--group"></span>
										</li>
										{{ end }}
									</ul>
								</div>
							</div>
							<div class="radio-collapse-item">
								<input role="radiogroup" type="radio" name="paymentMode" value="BankTransfer" id="transfer" aria-label="radiogroup" class="js-payment-mode-radio">
								<label for="transfer" class="checkbox-wrapper payment-mode-label">{{ T "uoc_ri_cercador_filtres_unesco" }}</label>
								<div class="collapse-content"> 
									<div class="full-width search-container-top">
										<div class="col-xs-12">
											<p><a href="javascript:;">{{ T "uoc_ri_home_search_consultaunesco" }}</a></p>
											<input type="search" id="search-input" aria-label="Cerca per codi" placeholder="Cerca per codi" name="searchWords" tabindex="0" value="" title="Cerca per codi" class="w100-inline-block page-module ruler ruler--thin ruler--primary font-alternate h1 unesco">
										</div>
									</div>
								</div>
							</div>
							<div class="more-filter-options">
								<h4>{{ T "uoc_ri_cercador_filtres_centre" }}</h4>
								<ul class="tag-list centre">
									{{ range $index, $element := .Params.centre }}
									<li>{{$element.display_name}}</li>
									{{ end }}
								</ul>
								<div class="filter-btn">
									<button class="btn btn--primary">{{ T "uoc_ri_home_search_aplicafiltres" }}</button>
								</div>
							</div>
						</form>
					</div>
					<div id="tab-content-3" data-tab-content="" role="tabpanel" aria-labelledby="tab-3" aria-hidden="true" class="filters-main__content tab-content cercaSectors">
						<form action="" class="radio-accordeon search-form-container">
							<div class="more-filter-options">
								<h4>{{ T "uoc_ri_cercador_cercapersector" }}</h4>
								<ul class="tag-list sector_productiu">
									{{ range $i, $el := .Params.sector_productiu }}
									<li>{{$el.display_name}}</li>
									{{ end }}
								</ul>
							</div>
							<div class="more-filter-options">
								<h4>{{ T "uoc_ri_cercador_filtres_centre" }}</h4>
								<ul class="tag-list centre">
									{{ range $index, $element := .Params.centre }}
									<li>{{$element.display_name}}</li>
									{{ end }}
								</ul>
								<div class="filter-btn">
									<button class="btn btn--primary">{{ T "uoc_ri_home_search_aplicafiltres" }}</button>
								</div>
							</div>
						</form>
					</div>
					<div id="tab-content-2" data-tab-content="" role="tabpanel" aria-labelledby="tab-2" aria-hidden="false" class="filters-main__content tab-content cercaTextual">
						<form action="" class="search-form-container filters-main-search">
							<div class="full-width search-container-top">
								<div class="col-xs-2 col-md-1">
									<span class="icon-container hover--dynamic-hover bg-grey">
										<input type="submit" value="Cerca" name="search_sbm" title="Buscar" onclick="" class="w100-inline-block"><span class="icon icon--search"></span>
									</span>
								</div>
								<div class="col-xs-10 col-md-11">
									<input type="search" id="search" aria-label="Paraules a cercar" placeholder="Paraules a cercar" name="searchWords" tabindex="0" value="" title="Paraules a cercar" class="w100-inline-block page-module ruler ruler--thin ruler--primary font-alternate h1">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="acordeon acordeon-home">
			<div class="row">
				<div class="col-xs-12">
					<div id="tab-content-10" data-tab-content="" role="tabpanel" aria-labelledby="tab-content-10" aria-hidden="false" class="tab-content is-active">
						<div class="js-collapse-group">
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse2" aria-expanded="false" class="js-collapseClick">{{ T "uoc_ri_home_centres" }}<span class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse2" class="contentCollapse show">
									<div class="wrap-richText">
										<section class="card-home">
											<div class="row">
												{{ range $i, $c :=  .Params.centre }}
												<div class="col-xs-12 col-md-3">
													<div class="card card--brand-corporate">
														<div class="card__contents">
															<h3>{{$c.display_name}}</h3>
															<p>Centre de recerca especialitzat el’estudi d’internet i dels efectes de la interacció de les tecnologies digitals amb l’activitat humana.</p>
															<a href="/centre/{{ . | urlize }}" class="card-link"><span class="icon icon--external-link"></span></a>
														</div>
													</div>
												</div>
												{{ end }}
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="tab-content-10" data-tab-content="" role="tabpanel" aria-labelledby="tab-content-10" aria-hidden="false" class="tab-content is-active">
						<div class="js-collapse-group">
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse3" aria-expanded="false" class="js-collapseClick">{{ T "uoc_ri_home_difusions" }}<span class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse2" class="contentCollapse show">
									{{ range $i, $sequence :=  (seq 4) }}
									<div class="col-xs-6 col-md-3" role="article">
										
										<a href="/ca/noticies/alfa.html" class="card-absolute-link"></a>
										<div class="card" role="region" aria-label="Texto descriptivo" >
											<div class="card__image">
												<img src="/img/detall_solucions_principal2.png" alt="Texto alternativo">
											</div>
											<div class="card__contents" >
												<p class="text-big text font-alternate">El treballador fluid, un nou tipus d'empleat difícil de retenir a l'empresa</p>
											</div>
											<div class="card__footer">
												<div class="float-left p-left-x  icon icon--external-link"></div>
												<div class="float-right p-right-x">Esdeveniment</div>
											</div>
										</div>
									</div>
									{{end}}
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
		</section>
		{{ partial "footer.html" . }}
	</div>
	
	{{ partial "ri_js_imports.html" . }}
	<script src="/js/search_home.js"></script>
	<script type="text/javascript">
		var cercadorURL = '{{ "cercador/cercador.html" | relLangURL }}';
		//var cercadorSectorURL = '{{ "solucions/solucions.html" | relLangURL }}';
	</script>
</body>

</html>